$--space-xxs: 0.25rem;
$--space-xs: 0.5rem;
$--space-s: 0.75rem;
$--space-m: 1rem;
$--space-lg: 1.75rem;
$--space-xl: 2.25rem;
$--space-xxl: 2.5rem;
$--space-xxxl: 4.375rem;
$--font-size-s: 0.75rem;
$--font-size-m: 1rem;
$--font-size-lg:1.33rem; 
$--font-size-xl: 1.78rem;
$--font-size-xxl: 2.125rem;
$--font-size-xxxl: 2.875rem;
$--font-size-xxxxl: 4.375rem;
$--mobile-icon-size: 1.125rem;
$--tablet-icon-size: 1.5rem;
$--desktop-icon-size: 2.5rem;
$--modal-width-mobile: 200px;
$--modal-width-tablet: 280px;
$--modal-width-desktop: 300px;
$--modal-padding-mobile: 1rem;
$--modal-padding-tablet: 1.25rem;
$--modal-padding-desktop: 2rem;
$--modal-background-color: #212121;
$--modal-border-color: #4d4d4d;
$--modal-line-color: #2e2e2e;
$--modal-focus-color: #2e2e2e;
$--logout-modal-line-color: #a6a6a6;
$--default-text-color: #a6a6a6;

@mixin text($size, $lineHeight, $weight:400) {
  font-size: $size;
  line-height: $lineHeight;
  font-weight: $weight;
}

/* -------------------------------------------------------------------------- */
/*                             profile menu style                             */
/* -------------------------------------------------------------------------- */
.header__aside__button--profile {
  cursor: pointer;

  .profile-modal-wrapper {
    // transition: all 0.2s;
    // opacity: 0;
  }

  &:hover {
    .profile-modal-wrapper {
      display: block;
      // opacity: 1;
      // transform: translateY(1%);
    }
  }
}

// .profile-modal-wrapper {
//   transition: all 0.2s;
//   opacity: 0;
//   &:hover {
//     opacity: 1;
//     transform: translateY(1%);
//   }
// }

.profile-modal-wrapper {  
  display: none;
  position: relative;
  cursor: default;
  font-size: $--font-size-s;

  right: calc($--modal-width-mobile - $--mobile-icon-size + $--modal-padding-mobile);
  top: $--modal-padding-mobile;
  width: $--modal-width-mobile;
  padding: $--modal-padding-mobile;

  @media (min-width: $--tablet) and (max-width: ($--desktop - 1)) {
    right: calc($--modal-width-tablet - $--tablet-icon-size + $--modal-padding-tablet);
    top: $--modal-padding-tablet;
    width: $--modal-width-tablet;
    padding: $--modal-padding-tablet;
    font-size: $--font-size-m;
  }

  @media (min-width: $--desktop) {
    right: calc($--modal-width-desktop - $--desktop-icon-size + $--modal-padding-desktop);
    top: $--modal-padding-desktop;
    width: $--modal-width-desktop;
    padding: 3rem $--modal-padding-desktop;
    font-size: $--font-size-m;
  }

  .profile-modal {
    display: flex;
    flex-flow: column nowrap;
    // gap: 5%;
    align-items: center;
    width: 100%;
    aspect-ratio: 5/6;
    background-color: $--modal-background-color;
    // padding: 8%;
    color: $--default-text-color;
    font-size: inherit;
    font-weight: 700;
    border: 1px solid $--modal-border-color;
    border-radius: 1%;

    &__info {
      display: flex;
      flex-flow: row nowrap;
      gap: 10%;
      margin: 6%;

      .menu-profile-icon {
        width: 20%;
        // height: 1rem;
        aspect-ratio: 1;
      }

      &--text {
        display: flex;
        flex-flow: column nowrap;
        justify-content:center;
        align-items: start;
        gap: 2%;

        p {
          color: $--white;
          font-size: 120%;
          font-weight: 900;
        }

        a {
          // display: flex;
          // flex-flow: row nowrap;

          .bracket {
            // display: inline-block;
            // height: 100%;
            // width: 20px;
            // background-image: url('/icon/main/slideNext.svg');
            // background-size: cover;
            // background-repeat: no-repeat;
            // fill: $--default-text-color;
          }

          &:link,
          &:visited,
          &:active {
            color: inherit;
            text-decoration: none;
          } 
        
          &:hover {
            color: $--white;

            .bracket {
              // fill: $--white;
            }
          }

          
        }
      }
    }

    &__line {
      width: 100%;
      height: 1px;
      background-color: $--modal-line-color;
    }

    &__menu {
      display: flex;
      flex-flow: column nowrap;
      align-items: start;
      // gap: 4%;
      flex-grow: 1;
      width: 100%;
      margin: 8% 0 0 auto;

      .menu-wrapper {
        width: 100%;
        height: 18%;
        text-align: start;
        // padding: 4% 0;

        &:hover {
          background-color: $--modal-focus-color;
          color: $--white;
        }

        a {
          display: inline-block;
          font-size: 110%;
          width: 90%;
          padding: 5% 5%;
  
          &:link,
          &:visited,
          &:active {
            color: inherit;
            text-decoration: none;
          } 
          
          &:hover {
            color: $--white;
          }
        }
      }
    }
  }
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

/* -------------------------------------------------------------------------- */
/*                                logout style                                */
/* -------------------------------------------------------------------------- */

.logout-modal-wrapper {  
  display: none;
  user-select:none
}

.logout-modal-dimm {
  position:fixed;
  inset: 0;
  display: flex;
  margin: auto;
  background-color: rgba(0,0,0, .9);
}

.logout-modal {
  display: flex;
  flex-flow: column nowrap;  
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  width: 12.3rem;
  height: 5.96rem;
  margin: auto;
  background-color: $--modal-background-color;
  border-radius: 0.25rem;

  @media (min-width: $--tablet) and (max-width: ($--desktop - 1)) {
    gap: 1rem;
    width: 18.4rem;
    height: 6.88rem;
  }

  @media (min-width: $--desktop) {
    gap: 2.25rem;
    width: 32.9rem;
    height: 12rem;
  }

  &__contents {

    p {
      color: $--white;
      @include text($--font-size-s, 160%, 400);
      margin-top: 1.2rem;

      @media (min-width: $--tablet) and (max-width: ($--desktop - 1)) {
        @include text($--font-size-s, 160%, 400);
        margin-top: 1.75rem;
      }
    
      @media (min-width: $--desktop) {
        @include text($--font-size-lg, 160%, 400);
        margin-top: 2.25rem;
      }
    }
  }
  
  &__button {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 0.62rem;
    
    @media (min-width: $--desktop) {
      gap: 0;
    }

    &--line {
      background-color: $--logout-modal-line-color;
      width: 1px;
      height: 0.75rem;
    }

    &--yes, &--no {
      width: 3.31rem;
      height: 2.5rem;
      border: none;
      cursor: pointer;
      color: $--default-text-color;
      background-color: rgba(0,0,0,0);
      @include text($--font-size-s, 160%, 400);

      @media (min-width: $--tablet) and (max-width: ($--desktop - 1)) {
        padding: 0.25rem;
        width: 4.38rem;
        height: 2.44rem;
        @include text($--font-size-s, 160%, 400);
      }
    
      @media (min-width: $--desktop) {
        padding: 0.62rem;
        margin: 0.5rem;
        width: 8.56rem;
        height: 2.88rem;
        @include text($--font-size-lg, 160%, 400);
      }

      &:hover {
        color: $--white;
      }
    }
  }
}

