$--space-xxs: 0.25rem;
$--space-xs: 0.5rem;
$--space-s: 0.75rem;
$--space-m: 1rem;
$--space-lg: 1.75rem;
$--space-xl: 2.25rem;
$--space-xxl: 2.5rem;
$--space-xxxl: 4.375rem;
$--font-size-s: 0.75rem;
$--font-size-m: 1rem;
$--font-size-lg:1.33rem; 
$--font-size-xl: 1.78rem;
$--font-size-xxl: 2.125rem;
$--font-size-xxxl: 2.875rem;
$--font-size-xxxxl: 4.375rem;
$--translate--value: -3%;
$--poster-border-radius: 0.25rem;
$--color-title-text: $--gray-200;
$--color-info-text: $--gray-300;
$--color-sub-info-text: $--gray-500;

@mixin flexColumnNowrap() {
  display: flex;
  flex-flow: column nowrap;
}

@mixin swiperPrevButtonBackground($url) {
  background: url($url),
    radial-gradient(
      106.88% 50.3% at -6.88% 50%,
      rgba(0, 0, 0, 0.9) 0%,
      rgba(0, 0, 0, 0.6) 53.21%,
      rgba(0, 0, 0, 0) 100%
    );
  background-repeat: no-repeat;
  background-position: center center;
}

@mixin swiperNextButtonBackground($url) {
  background: url($url),
    radial-gradient(
      106.25% 50% at 106.25% 50%,
      rgba(0, 0, 0, 0.9) 0%,
      rgba(0, 0, 0, 0.6) 52.6%,
      rgba(0, 0, 0, 0) 100%
    );
  background-repeat: no-repeat;
  background-position: center center;
}

@mixin swiperButton($topPos, $width) {
  display: block;
  position: absolute;
  z-index: 10;
  top: $--space-m;
  width: $--space-xxl;
}

@mixin text($size, $lineHeight, $weight:400) {
  font-size: $size;
  line-height: $lineHeight;
  font-weight: $weight;
}

@mixin slideSize($gap) {
  width: calc(100% - $gap);
}

html,
body {
  position: relative;
  height: 100%;
  margin-top: 50px;
  min-width: 320px;
  background-color: black;
}

.live-lists {
  @include flexColumnNowrap;
  padding: 0 $--space-xs $--space-m $--space-xs;
  gap: $--space-xs;
  min-width: $--mobile;
  color: $--white;
  overflow: hidden;

  h3 {
    @include text($--font-size-s , 150%, 600);
  }

  .live-lists__slider {
    .swiper {
      width: 100%;
      height: 100%;
      overflow: visible;
    }
    
    .slider-horizontal .swiper-wrapper {
      
      .swiper-slide {
        @include flexColumnNowrap;
        align-items: flex-start;
        justify-content: center;
        // position: relative;
      
        a {
          @include slideSize($--space-xs);
          // height: 100%;
          cursor: pointer;
          transition: all 0.5s;
          position: relative;
        
          &:link,
          &:visited,
          &:active {
            color: $--color-title-text;
            text-decoration: none;
          } 
        
          &:hover {
            transform: translateY($--translate--value);
          }
        }
      
        a img {
          display: block;
          width: 100%;
          border-radius: $--poster-border-radius;
          margin: $--space-xxs;
        }
      
        .rank {
          position: absolute;
          font-family: 'Noto Sans KR', sans-serif;
          font-style: italic;
          @include text($--font-size-xxl, 160%, 700);
          color: $--white;
        }

        .title {
          @include text($--font-size-s, 150%, 600);
          margin-left: $--font-size-xxl;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .info {
          color: $--color-info-text; 
          @include text($--font-size-s, 160%);
          margin-left: $--font-size-xxl;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        
        .sub-info {
          color: $--color-sub-info-text; 
          @include text($--font-size-s, 160%);
          margin-left: $--font-size-xxl;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
    
    .slider-horizontal {
      .swiper-pagination {
        display: none;
      }
      
      .swiper-button-prev,
      .swiper-button-next {
        position: absolute;
        z-index: 10;
        top: 0;
        background-color: black;
        height: 100%;
        color: transparent;
      }
    
      .swiper-button-prev {
        left: -($--space-xs);
      }
      
      .swiper-button-next {
        right: -($--space-xs);
      }
    
      .swiper-button-disabled,
      .swiper-button-prev,
      .swiper-button-next {
        display: none;
        &::after {
          display: none;
        }
      }
    }
  }

  @media (min-width: $--tablet) and (max-width: ($--desktop - 1)) {
    padding: 0 $--space-xxl $--space-lg $--space-xxl;
    gap: $--space-xs ;

    h3 {
      @include text($--font-size-m, 140%, 700);
    }
  
    & .live-lists__slider {
        .swiper {
      }
    
      .slider-horizontal .swiper-wrapper {
        .swiper-slide {
          a {
            @include slideSize($--space-xs);
        
            &:hover {
            }
          }
      
          a img {
            margin-bottom: $--space-xxs;
          }
  
          .info {
            @include text($--font-size-s, 160%);
          }

          .rank {
            @include text($--font-size-xxxl, 160%, 700);
            bottom: -$--space-xxs;
          }
  
          .title {
            @include text($--font-size-s, 150%, 600);
            margin-left: $--font-size-xxxl;
          }
  
          .info {
            @include text($--font-size-s, 160%);
            margin-left: $--font-size-xxxl;
          }
          
          .sub-info {
            @include text($--font-size-s, 160%);
            margin-left: $--font-size-xxxl;
          }
        }
      }
    
      .slider-horizontal {
        .swiper-pagination {
        }
      
        .swiper-button-disabled,
        .swiper-button-prev,
        .swiper-button-next {
        }
      }

      &:hover {
        .swiper-button-prev,
        .swiper-button-next {
          @include swiperButton($--space-m, $--space-xxl);
        }
  
        .swiper-button-prev {
          left: -($--space-xxl);
          @include swiperPrevButtonBackground('/icon/main/icon_slide_left.svg');
        }
  
        .swiper-button-next {
          right: -($--space-xxl);
          @include swiperNextButtonBackground('/icon/main/icon_slide_right.svg');
        }
  
        .swiper-button-disabled {
          display: none;
        }
      }
    }
  }
    
  @media (min-width: $--desktop) {
    padding: 0 $--space-xxxl $--space-xl $--space-xxxl;
    gap: $--space-m;
    
    h3 {
      @include text($--font-size-xl, 140%, 700);
    }
  
    .live-lists__slider {
      .swiper {
      }
    
      .slider-horizontal .swiper-wrapper {
        .swiper-slide {
          a {
            @include slideSize($--space-m);
        
            &:hover {
            }
          }
      
          a img {
            margin-bottom: $--space-xs;
          }

          .rank {
            @include text($--font-size-xxxxl, 160%, 700);
            bottom: -$--space-xxs;
          }
  
          .title {
            @include text($--font-size-lg, 150%, 600);
            margin-left: $--font-size-xxxxl;
          }
  
          .info {
            @include text($--font-size-m, 160%);
            margin-left: $--font-size-xxxxl;
          }
          
          .sub-info {
            @include text($--font-size-m, 160%);
            margin-left: $--font-size-xxxxl;
          }
        }
      }
    
      .slider-horizontal {
        .swiper-pagination {
        }
      
        .swiper-button-disabled,
        .swiper-button-prev,
        .swiper-button-next {
        }
      }
    
      &:hover {
        .swiper-button-prev,
        .swiper-button-next {
          @include swiperButton($--font-size-xl, $--space-xxxl);
        }
    
        .swiper-button-prev {
          left: -($--space-xxxl);
          @include swiperPrevButtonBackground('/icon/main/icon_slide_left.svg');
        }
    
        .swiper-button-next {
          right: -($--space-xxxl);
          @include swiperNextButtonBackground('/icon/main/icon_slide_right.svg');
        }
    
        .swiper-button-disabled {
          display: none;
        }
      }
    }
  }
}


