html,
body {
  position: relative;
  height: 100%;
  margin-top: 50px;
  min-width: 320px;
  background-color: black;
  color: white;
}

.contents-lists {
  display: flex;
  flex-flow: column nowrap;
  font-weight: 600;
  padding: 0 0.5rem;
  /* margin-left: -0.5rem; */
  /* margin-right: -0.5rem; */
  gap: 0.25rem;
  overflow: hidden;
}

.contents-lists h3 {
  font-size: 0.75rem;
  line-height: 150%;
}

.swiper {
  width: 100%;
  height: 100%;
  overflow: visible;
  /* padding-left: 4.375rem; */
}

.swiper-wrapper {
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}

.swiper-slide a {
  width: calc(100% - 0.5rem);
  height: 100%;
  cursor: pointer;
  transition: all 0.5s;

  &:link,
  &:visited,
  &:active {
    color: #c4c4c4;
    text-decoration: none;
  }

  &:hover {
    transform: translateY(-3%);
  }
}

.swiper-slide a img {
  display: block;
  /* width: 100%; */
  width: 100%;
  /* aspect-ratio: auto; */
}

.swiper-slide p {
  display: none;
}

.swiper-pagination {
  display: none;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  z-index: 10;
  top: 0;
  background-color: black;
  height: 100%;
}

.swiper-button-prev {
  left: -0.5rem;
}

.swiper-button-next {
  right: -0.5rem;
}

.swiper-button-disabled,
.swiper-button-prev,
.swiper-button-next {
  display: none;
}

@media (min-width: 768px) and (max-width: 1920px) {
  .contents-lists {
    font-weight: 700;
    padding: 0 2.5rem 1.75rem 2.5rem;
    gap: 0.5rem;
  }

  .contents-lists h3 {
    font-size: 1rem;
    line-height: 140%;
  }

  .swiper {
  }

  .swiper-wrapper {
  }

  .swiper-slide {
  }

  .swiper-slide a {
    width: calc(100% - 1rem);

    &:hover {
    }
  }

  .swiper-slide a img {
    margin-bottom: 0.25rem;
  }

  .swiper-slide p {
    display: block;
    font-size: 0.75rem;
    line-height: 160%;
  }

  .swiper-pagination {
    display: none;
  }

  .swiper-button-disabled,
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }

  .contents-lists:hover {
    .swiper-button-prev,
    .swiper-button-next {
      display: block;
      position: absolute;
      z-index: 10;
      top: 1rem;
      width: 2.5rem;
      height: 100%;
    }

    .swiper-button-prev {
      left: -2.5rem;
      background: url(./../../assets/icon_slide_left.svg),
        radial-gradient(
          106.88% 50.3% at -6.88% 50%,
          rgba(0, 0, 0, 0.9) 0%,
          rgba(0, 0, 0, 0.6) 53.21%,
          rgba(0, 0, 0, 0) 100%
        );
      background-repeat: no-repeat;
      background-position: center center;
    }

    .swiper-button-next {
      right: -2.5rem;
      background: url(./../../assets/icon_slide_right.svg),
        radial-gradient(
          106.25% 50% at 106.25% 50%,
          rgba(0, 0, 0, 0.9) 0%,
          rgba(0, 0, 0, 0.6) 52.6%,
          rgba(0, 0, 0, 0) 100%
        );
      background-repeat: no-repeat;
      background-position: center center;
    }

    .swiper-button-disabled {
      display: none;
    }
  }
}

@media (min-width: 1920px) {
  .contents-lists {
    font-weight: 700;
    padding: 0 4.375rem 2.25rem 4.375rem;
    gap: 1rem;
  }

  .contents-lists h3 {
    font-size: 1rem;
    line-height: 140%;
  }

  .swiper {
  }

  .swiper-wrapper {
  }

  .swiper-slide {
  }

  .swiper-slide a {
    width: calc(100% - 1rem);

    &:hover {
    }
  }

  .swiper-slide a img {
    margin-bottom: 0.25rem;
  }

  .swiper-slide p {
    display: block;
    font-size: 0.75rem;
    line-height: 160%;
  }

  .swiper-pagination {
    display: none;
  }

  .swiper-button-disabled,
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }

  .contents-lists:hover {
    .swiper-button-prev,
    .swiper-button-next {
      display: block;
      position: absolute;
      z-index: 10;
      top: 1rem;
      width: 2.5rem;
      height: 100%;
    }

    .swiper-button-prev {
      left: -2.5rem;
      background: url(./../../assets/icon_slide_left.svg),
        radial-gradient(
          106.88% 50.3% at -6.88% 50%,
          rgba(0, 0, 0, 0.9) 0%,
          rgba(0, 0, 0, 0.6) 53.21%,
          rgba(0, 0, 0, 0) 100%
        );
      background-repeat: no-repeat;
      background-position: center center;
    }

    .swiper-button-next {
      right: -2.5rem;
      background: url(./../../assets/icon_slide_right.svg),
        radial-gradient(
          106.25% 50% at 106.25% 50%,
          rgba(0, 0, 0, 0.9) 0%,
          rgba(0, 0, 0, 0.6) 52.6%,
          rgba(0, 0, 0, 0) 100%
        );
      background-repeat: no-repeat;
      background-position: center center;
    }

    .swiper-button-disabled {
      display: none;
    }
  }
}
