/* /src/styles/main.scss */
@import '/src/styles/utils/_reset';
@import '/src/styles/utils/_global';
@import '/src/styles/layout/header';
@import '/src/styles/modules/mainVisual';
@import '/src/styles/modules/contentSlider';
@import '/src/styles/modules/adBanner';
@import '/src/styles/modules/eventSlider.scss';
@import '/src/styles/layout/footer';

//mixin

//임시 body 설정
.landing {
  color: white;
  position: relative;
  height: 100%;
  margin-top: 3.125rem;
  min-width: 20rem;
  background: $--black;
  display: flex;
  flex-flow: column nowrap;
}

// 헤더
.header {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%); /* 기본 배경색 */
  transition: background-color 0.5s ease; /* 부드러운 전환 효과 */
}

.header--scrolled {
  background-color: rgba(0, 0, 0, 0.8); /* 스크롤 시 변경할 배경색 (예: 검정색) */
}

//scroll-section-0, onboarding

.scroll-section-0 {
  padding: 80px 0 130px 0;
}

.onboarding {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  overflow: hidden;
  @include background-image(url(/image/landing/background-img-M.png));

  &__phrase {
    gap: 1rem;
    text-transform: uppercase;
    -webkit-text-stroke: 4px #000;
    -webkit-text-fill-color: transparent;
    -webkit-font-smoothing: subpixel-antialiased;

    &__title {
      font-weight: 700;
      line-height: 140%;
      text-align: center;
    }

    &__sub {
      color: $--gray-400;
      line-height: 160%;
    }
  }

  &__button {
    margin-top: 1rem;
    padding: 0.5 1 0.5 0.5;
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
    border-radius: 4px;
    background-color: $--brand-red-2;
    gap: 0.5rem;

    &-logo {
      width: 1.625rem;
      padding-left: 0.5rem;
      padding-bottom: 0.5rem;
    }

    &-content {
      text-decoration: none;
      font: 12px;
      color: $--white;
      font-weight: 600;
      padding-right: 1rem;
    }
  }
}
