/* /src/styles/main.scss */
@import '/src/styles/utils/_reset';
@import '/src/styles/utils/_global';
@import '/src/styles/layout/header';
@import '/src/styles/modules/mainVisual';
@import '/src/styles/modules/contentSlider';
@import '/src/styles/modules/adBanner';
@import '/src/styles/modules/eventSlider.scss';
@import '/src/styles/layout/footer';

//변수

//mixin
@mixin buttonTVING($bg-color, $font-size, $height, $min-width, $logo-width, $padding-right, $logo-margin-bottom) {
  padding: 0 1rem 0 0.5rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: $bg-color;
  gap: 0.5rem;
  min-width: $min-width;
  height: $height;

  &-logo {
    width: $logo-width;
    padding: 0;
    margin-bottom: $logo-margin-bottom;
    img {
      width: 100%;
    }
  }

  &-content {
    text-decoration: none;
    font-size: $font-size;
    color: $--white;
    font-weight: 600;
    padding-right: $padding-right;
    line-height: 150%;
  }
}

//임시 body 설정
.landing {
  color: white;
  position: relative;
  height: 100%;
  margin-top: 3.125rem;
  min-width: 20rem;
  background: $--black;
  display: flex;
  flex-flow: column nowrap;
}

// 헤더
.header {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%); /* 기본 배경색 */
  transition: background-color 0.5s ease; /* 부드러운 전환 효과 */
}

.header--scrolled {
  background-color: rgba(0, 0, 0, 0.7); /* 스크롤 시 변경할 배경색 (예: 검정색) */
}

//scroll-section-0, onboarding

.scroll-section-0 {
  padding: 5rem 0 8rem 0;
  margin-bottom: -1rem;
  height: calc(100vh - 3.125rem);
}

.onboarding {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  // height: 85%;

  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 1) 100%), url('/image/landing/background-img-M.png');
  background-size: cover;
  background-position-y: -5rem;
  padding-top: 4rem;
  margin-top: -4rem;
  background-repeat: no-repeat;

  // animation: scaleUp 5s ease forwards;
  // @keyframes scaleUp {
  //   from {
  //     transform: scale(1);
  //   }
  //   to {
  //     transform: scale(1.1);
  //   }
  // }

  &__phrase {
    gap: 1rem;
    margin-bottom: 1rem;

    &__title {
      font-size: 1rem;
      font-weight: 700;
      line-height: 140%;
      text-align: center;
    }

    &__sub {
      font-size: 0.75rem;
      color: $--gray-400;
      font-weight: 400;
      line-height: 160%;
    }
  }

  &__button {
    @include buttonTVING($--brand-red-2, 0.75rem, 2.125rem, 11.75rem, 1.625rem, 1rem, 0.3rem);

    @include tabletW() {
      @include buttonTVING($--brand-red-2, 1rem, 3rem, 17.6875rem, 2.25rem, 1rem, 0.5rem);
    }

    @include desktopW() {
      @include buttonTVING($--brand-red-2, 1.77688rem, 5rem, 31rem, 4rem, 1.77688rem, 0.45rem);
    }
  }

  // &__button {
  //   padding: 0 1rem 0 0.5rem;
  //   display: flex;
  //   flex-flow: row nowrap;
  //   align-items: center;
  //   justify-content: center;
  //   border-radius: 4px;
  //   background-color: $--brand-red-2;
  //   gap: 0.5rem;
  //   min-width: 11.75rem;
  //   height: 2.125rem;

  //   &-logo {
  //     width: 1.625rem;
  //     padding: 0;
  //     margin-bottom: 0.3rem;
  //     img {
  //       width: 100%;
  //     }
  //   }

  //   &-content {
  //     text-decoration: none;
  //     font-size: 0.75rem;
  //     color: $--white;
  //     font-weight: 600;
  //     padding-right: 1rem;
  //     line-height: 150%;
  //   }
  // }

  @include tabletW() {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 1) 100%), url('/image/landing/background-img-T.png');
    background-size: cover;
    // background-position: center;
    background-repeat: no-repeat;

    &__phrase {
      gap: 1rem;
      margin-bottom: 1.75rem;

      &__title {
        font-size: 1.33rem;
        font-weight: 700;
        line-height: 140%;
        text-align: center;
        margin-bottom: 0.5rem;
      }

      &__sub {
        font-size: 1rem;
      }
    }

    // &__button {
    //   min-width: 17.6875rem;
    //   height: 3rem;
    //   &-logo {
    //     width: 2.25rem;
    //     padding: 0 0.25rem;
    //     margin-bottom: 0.5rem;
    //     img {
    //       width: 100%;
    //     }
    //   }

    //   &-content {
    //     font-size: 1rem;
    //     padding-right: 1rem;
    //   }
    // }
  }
  @include desktopW() {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 1) 100%), url('/image/landing/background-img-D.png');
    background-size: cover;
    // background-position: center;
    background-repeat: no-repeat;

    &__phrase {
      gap: 1rem;
      margin-bottom: 3.75rem;

      &__title {
        font-size: 3.15731rem;
        text-align: center;
        margin-bottom: 0.5rem;
      }

      &__sub {
        font-size: 1.77688rem;
      }
    }

    // &__button {
    //   min-width: 31rem;
    //   height: 5rem;
    //   &-logo {
    //     width: 4rem;
    //     padding: 0 0.25rem;
    //     margin-bottom: 0.45rem;
    //     margin-right: 2rem;
    //     img {
    //       width: 100%;
    //     }
    //   }

    //   &-content {
    //     font-size: 1.77688rem;
    //   }
    // }
  }
}

.scroll-section-1 {
  margin-top: 3rem;
  height: 100vh;
}

.original {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;

  &__title {
    margin-bottom: 1rem;
  }

  &__phrase {
    &__main {
      font-size: 1.333rem;
      font-weight: 700;
      line-height: 140%;

      &.is-hide {
        display: none;
      }
    }

    &__sub {
      font-size: 0.75rem;
      font-weight: 400;
      line-height: 160%;
      color: $--gray-200;
    }
  }

  @include tabletW() {
    &__phrase {
      font-weight: 600;
      line-height: 150%;

      &__main {
        display: none;
      }

      &__sub {
        &__01 {
          font-size: 1rem;
        }

        &__02 {
          font-size: 0.75rem;
        }
      }
    }
  }

  @include desktopW() {
    &__phrase {
      &__main {
        font-weight: 700;
        line-height: 140%;
        font-size: 3.2rem;
      }

      &__sub {
        &__01 {
          font-size: 1.7rem;
          font-weight: 600;
          line-height: 150%;
        }

        &__02 {
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 160%;
        }
      }
    }
  }

  &__contents {
    width: 100%;
    margin-top: 2rem;
    padding-top: 1rem;
    overflow: hidden;
  }
}

.scroll-section-2 {
  margin-top: 3rem;
  height: 80vh;
}

.customized {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10rem;

  &__info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 4rem;
  }

  &__phrase {
    &__main {
      color: $--white;
      font-size: 1.33rem;
      font-weight: 700;
      line-height: 140%;
    }

    &__sub {
      color: $--gray-200;
      font-size: 0.75rem;
      font-weight: 400;
      line-height: 160%;

      &__01 {
        margin-top: 0.25rem;
        color: $--gray-200;
      }

      &__02 {
        display: none;
      }
    }

    @include tabletW() {
      &__main {
        font-size: 1.77rem;
      }

      &__sub {
        color: $--gray-200;
        font-weight: 600;
        line-height: 150%;
        &__01 {
          display: inline-block;
          font-size: 1rem;
          margin-bottom: 0.5rem;
        }

        &__02 {
          display: inline-block;
          font-size: 0.75rem;
          color: $--gray-200;
        }
      }
    }

    @include desktopW() {
      &__main {
        font-size: 3.15rem;
      }

      &__sub {
        font-weight: 600;
        line-height: 150%;
        &__01 {
          display: inline-block;
          font-size: 1.77rem;
          margin-bottom: 0.5rem;
        }
        &__02 {
          display: inline-block;
          font-size: 1.33rem;
          font-weight: 400;
          line-height: 160%;
          color: $--gray-200;
        }
      }
    }
  }
}

.scroll-section-3 {
  margin-top: 3rem;
  @include tabletW() {
    margin-top: 5rem;
  }
  @include desktopW() {
    margin-top: 6rem;
  }
}

.enroll {
  width: 100%;

  &__wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }

  &__info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  &__logo {
    margin-bottom: 1.12rem;
    width: 20%;
    min-width: 5.1875rem;
    img {
      width: 100%;
    }
  }

  &__title {
    margin-bottom: 1.12rem;
    font-size: 1rem;
    font-weight: 700;
    line-height: 140%;
  }

  &__button {
    @include buttonTVING($--brand-red-2, 0.75rem, 2.125rem, 11.75rem, 1.625rem, 1rem, 0.3rem);

    @include tabletW() {
      @include buttonTVING($--brand-red-2, 1rem, 3rem, 17.6875rem, 2.25rem, 1rem, 0.5rem);
    }

    @include desktopW() {
      @include buttonTVING($--brand-red-2, 1.77688rem, 5rem, 31rem, 4rem, 1.77688rem, 0.45rem);
    }
  }

  @include tabletW() {
    &__logo {
      width: 8.4375rem;
    }

    &__title {
      font-size: 1.75rem;
      font-weight: 700;
      line-height: 140%;
    }

    // &__button {
    //   min-width: 17.6875rem;
    //   height: 3rem;
    //   &-logo {
    //     width: 2.25rem;
    //     padding: 0 0.25rem;
    //     margin-bottom: 0.5rem;
    //     img {
    //       width: 100%;
    //     }
    //   }

    //   &-content {
    //     font-size: 1rem;
    //     padding-right: 1rem;
    //   }
    // }
  }
  @include desktopW() {
    &__logo {
      width: 17.5rem;
    }
    &__title {
      font-size: 3.125rem;
      font-weight: 700;
      line-height: 140%;
    }

    // &__button {
    //   min-width: 31rem;
    //   height: 5rem;
    //   &-logo {
    //     width: 4rem;
    //     padding: 0 0.25rem;
    //     margin-bottom: 0.45rem;
    //     margin-right: 2rem;
    //     img {
    //       width: 100%;
    //     }
    //   }

    //   &-content {
    //     font-size: 1.77688rem;
    //   }
    // }
  }
}

/// swiper 구간

.swiper {
  width: 40%;
  height: 100%;
  overflow: visible;
}

.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    border-radius: 10px;
  }

  &:hover {
    transform: translateY($--translate--value);
    transition: 0.5s ease; /* 부드러운 전환 효과 */
  }
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// carousel 구간

.carousel-container {
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px; /* 캐러셀 사이의 간격 조정 */
}
.carousel-wrapper {
  display: flex;
  width: calc(200%);
}
.carousel-wrapper-1 {
  animation: scroll1 45s linear infinite;
}
.carousel-wrapper-2 {
  animation: scroll2 60s linear infinite;
}
.carousel-slide {
  flex: 0 0 auto;
  width: 13%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 0 2px; /* 슬라이드 간격 조정 */
}
.carousel-slide img {
  width: 100%;
  height: auto; /* 이미지의 원본 비율을 유지하면서 높이를 자동 조정 */
}
@keyframes scroll1 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
@keyframes scroll2 {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(-75%);
  }
}
