.event-lists {
  @include flexColumnNowrap;
  padding: 0 $--space-xs $--space-m $--space-xs;
  gap: $--space-xs;
  min-width: $--mobile;
  color: $--white;
  overflow: hidden;

  h3 {
    @include text($--font-size-s, 150%, 600);
  }

  .event-lists__slider {
    .swiper {
      width: 100%;
      height: 100%;
      overflow: visible;
    }
    
    .slider-horizontal .swiper-wrapper {
      
      .swiper-slide {
        @include flexColumnNowrap;
        align-items: flex-start;
        justify-content: center;
        // position: relative;
      
        a {
          @include slideSize($--space-xs);
          // height: 100%;
          cursor: pointer;
          transition: all 0.5s;
          position: relative;
        
          &:link,
          &:visited,
          &:active {
            color: $--color-title-text;
            text-decoration: none;
          } 
        
          &:hover {
            transform: translateY($--translate--value);
          }
        }
      
        a img {
          display: block;
          width: 100%;
          border-radius: $--poster-border-radius;
        }
      }
    }
    
    .slider-horizontal {
      .swiper-pagination {
        display: none;
      }
      
      .swiper-button-prev,
      .swiper-button-next {
        position: absolute;
        z-index: 10;
        top: 0;
        background-color: black;
        height: 100%;
        color: transparent;
      }
    
      .swiper-button-prev {
        left: -($--space-xs);
      }
      
      .swiper-button-next {
        right: -($--space-xs);
      }
    
      .swiper-button-disabled,
      .swiper-button-prev,
      .swiper-button-next {
        display: none;
        &::after {
          display: none;
        }
      }
    }
  }

  @media (min-width: $--tablet) and (max-width: ($--desktop - 1)) {
    padding: 0 $--space-xxl $--space-lg $--space-xxl;
    gap: $--space-xs ;

    h3 {
      @include text($--font-size-m, 140%, 700);
    }
  
    & .event-lists__slider {
        .swiper {
      }
    
      .slider-horizontal .swiper-wrapper {
        .swiper-slide {
          a {
            @include slideSize($--space-xs);
        
            &:hover {
            }
          }
      
          a img {
            margin-bottom: $--space-xxs;
          }
        }
      }
    
      .slider-horizontal {
        .swiper-pagination {
        }
      
        .swiper-button-disabled,
        .swiper-button-prev,
        .swiper-button-next {
        }
      }

      &:hover {
        .swiper-button-prev,
        .swiper-button-next {
          @include swiperButton($--space-m, $--space-xxl);
        }
  
        .swiper-button-prev {
          left: -($--space-xxl);
          @include swiperPrevButtonBackground('/public/icon/main/icon_slide_left.svg');
        }
  
        .swiper-button-next {
          right: -($--space-xxl);
          @include swiperNextButtonBackground('/public/icon/main/icon_slide_right.svg');
        }
  
        .swiper-button-disabled {
          display: none;
        }
      }
    }
  }
    
  @media (min-width: $--desktop) {
    padding: 0 $--space-xxxl $--space-xl $--space-xxxl;
    gap: $--space-m;
    
    h3 {
      @include text($--font-size-xl, 140%, 700);
    }
  
    .event-lists__slider {
      .swiper {
      }
    
      .slider-horizontal .swiper-wrapper {
        .swiper-slide {
          a {
            @include slideSize($--space-m);
        
            &:hover {
            }
          }
      
          a img {
            margin-bottom: $--space-xs;
          }
        }
      }
    
      .slider-horizontal {
        .swiper-pagination {
        }
      
        .swiper-button-disabled,
        .swiper-button-prev,
        .swiper-button-next {
        }
      }
    
      &:hover {
        .swiper-button-prev,
        .swiper-button-next {
          @include swiperButton($--font-size-xl, $--space-xxxl);
        }
    
        .swiper-button-prev {
          left: -($--space-xxxl);
          @include swiperPrevButtonBackground('/public/icon/main/icon_slide_left.svg');
        }
    
        .swiper-button-next {
          right: -($--space-xxxl);
          @include swiperNextButtonBackground('/public/icon/main/icon_slide_right.svg');
        }
    
        .swiper-button-disabled {
          display: none;
        }
      }
    }
  }
}


