<!DOCTYPE html>
<html lang="ko-KR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fullscreen Slider</title>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <section>
        <div class="main-banner-container swiper-container">
            <div class="swiper-wrapper">
                <div class="main-banner-slide swiper-slide">
                    <img src="이미지1.jpg" alt="이미지 설명 1">
                </div>
                <div class="main-banner-slide swiper-slide">
                    <img src="이미지2.jpg" alt="이미지 설명 2">
                </div>
                <div class="main-banner-slide swiper-slide">
                    <img src="이미지3.jpg" alt="이미지 설명 3">
                </div>
            </div>
            <button class="main-banner-button-next swiper-button-next"></button>
            <button class="main-banner-button-prev swiper-button-prev"></button>
            <div class="main-banner-info">
                <p class="main-banner-subtext">배너 서브텍스트</p>
                <button class="main-banner-play-btn">재생</button>
                <button class="main-banner-stop-btn">중지</button>
                <div class="main-banner-pagination swiper-pagination"></div>
            </div>
            <a href="/" class="main-banner-more">자세히 보기</a>
        </div>
    </section>

</body>
</html>
