body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
}

.main-banner-container {
    width: 100%;
    height: 8.90281rem;
    position: relative;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    color: white;
}

.swiper-button-prev-custom,
.swiper-button-next-custom {
    position: absolute;
    top: 50%;
    width: 0;
    cursor: pointer;
    color: transparent;
    font-size: 0px;
    background-color: transparent;
    border: none;
    &::after {
        display: none;
      }
}

.swiper-button-prev-custom {
    left: 0px;
}

.swiper-button-next-custom {
    right: 0px;
}

.swiper-button-prev-custom img,
.swiper-button-next-custom img {
    width: 12px; /* 아이콘 크기 조정 */
     /* 아이콘 크기 조정 */
}



.main-banner-info {
    position: absolute;
    bottom: 0.4rem;
    width: 100%;
    height: 2.06rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: white;
    z-index: 10;
}

.left-section {
    display: flex;
    align-items: flex-end;
}

.main-banner-toggle-btn {
    position: relative;
    order: -1;
    margin-right: 10px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    cursor: pointer;
    top: -4px;
    left: 0.75rem;
    padding: 0;
}
.main-banner-toggle-btn img {
    width: 10px; 
    height: 10px;
}
.main-banner-pagination {
    display: flex;
    position: absolute;
    margin-left: 30px;
    align-items: flex-end;
}

.swiper-pagination-bullet {
    background-color: rgb(255, 255, 255);
}

.swiper-pagination-bullet-active {
    background-color: white;
}

.main-banner-more {
    position: relative;
    color: white;
    text-decoration: none;
    border-radius: 0.25rem;
    border: 1px solid var(--gray-300, #A6A6A6);
    padding: 6px;
    right: 0.75rem;
    bottom: 0.25rem; 
}

.swiper-slide {
    position: relative; /* 이 요소를 기준으로 p 요소를 배치 */
}

.main-banner-subtext {
    position: absolute; /* 'relative'에서 'absolute'로 변경 */
    left: 0.75rem; /* 좌측에 고정 */
    font-size: 0.75019rem;
    padding-bottom: 0.5rem;
    color: white;
}