@mixin main-banner-flex-setting {
    display: flex;
    align-items: flex-end;
}

.sr-only {
    @include a11yHidden;
}

.main-banner-container {
    font-family: 'Pretendard variable';
    width: 100%;
    height: 8.9rem;
    position: relative;
    overflow: hidden;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    color: $--white;
}

.swiper-button-prev-custom,
.swiper-button-next-custom {
    position: absolute;
    top: 50%;
    width: 0;
    cursor: pointer;
    color: transparent;
    font-size: 0;
    background-color: transparent;
    border: none;
    
    &::after {
        display: none;
    }
}

.swiper-button-prev-custom {
    left: 0;
}

.swiper-button-next-custom {
    right: 0;
}

.main-banner-info {
    @include main-banner-flex-setting;
    position: absolute;
    bottom: 0.4rem;
    width: 100%;
    justify-content: space-between;
    color: $--white;
    z-index: 1;

    .left-section {
        @include main-banner-flex-setting;
    }

    .main-banner-toggle-btn {
        position: relative;
        order: -1;
        margin-right: 10px;
        background-color: transparent;
        color: $--white;
        border: none;
        cursor: pointer;
        top: -4px;
        left: $--label-small;
        padding: 0;
        z-index: 1;

        img {
            width: 8px; 
            height: 8px;
        }
    }

    .main-banner-pagination {
        @include main-banner-flex-setting;
        position: absolute;
        margin-left: 30px;

        .swiper-pagination-bullet,
        .swiper-pagination-bullet-active {
            background-color: $--white;
        }
    }

    .main-banner-more {
        position: relative;
        color: $--white;
        text-decoration: none;
        border-radius: 0.25rem;
        border: 1px solid $--gray-300;
        padding: 6px;
        right: $--label-small;
        bottom: 0.25rem; 
    }
}

.swiper-slide {
    position: relative;
}

.main-banner-subtext {
    position: absolute;
    left: $--label-small;
    font-size: $--paragraph-small;
    padding-bottom: 1.5rem;
    color: $--white;
}

.main-banner-slide,
.slide-content {
    position: relative;
}

.banner-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, $--black 100%);
}

@media (min-width:$--tablet) and (max-width:($--desktop - 1)) {
    .main-banner-container {
        height: 21.375rem;
    }

    .main-banner-more {
        padding: 1.25rem;
        font-size: $--label-small;
    }

    .swiper-button-prev-custom {
        left: 1rem;
    }

    .swiper-button-next-custom {
        right: 1rem;
    }

    .main-banner-info {
        height: 7.75rem;
        bottom: 4.2rem;

        .main-banner-more {
            width: 8rem;
            text-align: center;
            padding: 1rem 0rem;
            right: 2.5rem;
            bottom: 0.25rem; 
        }
    }

    .main-banner-info .main-banner-toggle-btn {
        left: 2.5rem;

        img {
            width: 10px; 
            height: 10px;
        }
    }

    .main-banner-subtext {
        font-size: 1rem;
        left: 2.5rem;
    }

    .main-banner-info .main-banner-pagination {
        margin-left: 3.63rem;
    }

    .banner-overlay {
        height: 10rem;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, $--black 100%);
    }
}

@media (min-width: $--desktop) {
    .main-banner-container {
        height: 53.4375rem;
    }

    .main-banner-more {
        padding: 1.25rem;
        font-size: $--label-small;
    }

    .swiper-button-prev-custom {
        left: 2rem;
    }

    .swiper-button-next-custom {
        right: 2rem;
    }

    .main-banner-info {
        height: 5.19rem;
        bottom: 10.75rem;

        .main-banner-more {
            width: 13rem;
            font-size: 1.3rem;
            text-align: center;
            padding: 1.5rem 0rem;
            right: 4.38rem;
            bottom: 0.25rem; 
        }
    }

    .main-banner-info .main-banner-toggle-btn {
        left: 4.38rem;

        img {
            width: 12px; 
            height: 12px;
        }
    }

    .main-banner-subtext {    
        font-size: 1.77rem;
        left: 4.38rem;
        bottom: 1rem;
    }

    .main-banner-info .main-banner-pagination {
        margin-left: 5.5rem;
    }

    .banner-overlay {
        height: 20rem;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, $--black 100%);
    }  
}
