// Profile Size
$--mo-proImg: 7.125rem;
$--tablet-proImg: 8.25rem;
$--desk-proImg: 14.625rem;

// Button Size
$--mo-btnModify-w: 8.4375rem;
$--mo-btnModify-h: 2.625rem;
$--tablet-btnModify-w: 9.75rem;
$--tablet-btnModify-h: 3.125rem;
$--desk-btnModify-w: 17rem;
$--desk-btnModify-h: 5.375rem;

// Buttons style
@mixin Modifybtn($w, $h, $f-size, $m-top){
    font-family: 'Pretendard Variable', Pretendard, sans-serif;
    width: $w;
    height: $h;
    font-size: $f-size;
    border-radius: .25rem;
    margin: $m-top auto 0 auto;
    color: $--gray-300;
    background-color: transparent;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    cursor: pointer;
    border: .0625rem solid $--gray-600;
    &:hover {
        border:solid $--white;
        color: $--white;
        transition: .3s;
        transform: translateY(-5px);
    }
    &:active {
        border:solid $--white;
        color: $--white;
        transition: .3s;
    }
}

// Size (width, inline-size, height, block-size)
@mixin squareSize($size){
    @include inline-size($size);
    @include block-size($size);
}

// 버튼 컴포넌트
.button--gray-sm {
    @include Modifybtn($--mo-btnModify-w, $--mo-btnModify-h, .75rem, 2rem);
    @media (min-width:$--tablet) and (max-width:($--desktop - 1)){
        @include Modifybtn($--tablet-btnModify-w, $--tablet-btnModify-h, 1rem, 2.75rem);
    }
    @media (min-width: $--desktop){
        @include Modifybtn($--desk-btnModify-w, $--desk-btnModify-h, 1.75rem, 4.125rem);
    }
}

//profile-modify
.profile__modify__wrap {
    font-size: .75rem;
    height: 100vh;
    @include flexbox(center);
    @media (min-width:$--tablet) and (max-width:($--desktop - 1)){
        font-size: 1rem;
    }
    @media (min-width: $--desktop){
        font-size: 1.75rem;
    }
    &__container {
        position: relative;
        align-content: center;
        padding: 0 2.125rem;
        color: $--white;
        font-size: $--label-small;
        & .head__form {
            text-align: center;
            @include headTit($--heading-medium, 2rem);
            & .desc {
                font-size: $--paragraph-small;
                color: $--gray-400;
                padding-top: 1rem;
                font-weight: 400;
            }
            @media (min-width:$--tablet) and (max-width:($--desktop - 1)){
                @include headTit($--heading-x-l, 1.75rem);
                & .desc {
                    font-size: $--label-medium;
                }
            }
            @media (min-width: $--desktop){
                @include headTit($--heading-x-x-x-l, 2.75rem);
                & .desc {
                    font-size: $--label-x-l;
                }
            }
        }
        & .profile__form {
            display: grid;
            place-items: center;
            grid-template-columns: repeat(2, minmax($--mo-proImg, $--mo-proImg));
            gap: 1.5rem;
            @media (min-width:$--tablet) and (max-width:($--desktop - 1)){
                grid-template-columns: repeat(4, minmax($--tablet-proImg, $--tablet-proImg));
                gap: 2rem;
            }
            @media (min-width: $--desktop){
                grid-template-columns: repeat(4, minmax($--desk-proImg, $--desk-proImg));
                gap: 3.25rem;
            }
            &--item {
                text-align: center;
                &:hover .item__form{
                    // li 전체를 hover시 item__form만 적용되도록
                    transform: translateY(-5%);
                }
                & .item__form {
                    transition: all 0.3s ease 0s;
                    @include squareSize($--mo-proImg);
                    border-radius: .25rem;
                    overflow: hidden;
                    display: block;
                    position: relative;
                    margin-bottom: 0.75rem;
                    @media (min-width:$--tablet) and (max-width:($--desktop - 1)){
                        @include squareSize($--tablet-proImg);
                    }
                    @media (min-width: $--desktop){
                        @include squareSize($--desk-proImg);
                        margin-bottom: 1rem;
                    }
                    & .user-profile {
                        @include flexbox(row, nowrap, center, center);
                        @include position(absolute);
                        @include squareSize(100%);
                        & img {
                            @include squareSize(100%);
                        }
                    }
                    & .bg {
                        @include flexbox(row, nowrap, center, center);
                        @include position(absolute);
                        @include squareSize(100%);
                        background: rgba($color: $--black, $alpha: .7);
                    }
                    & .icon {
                        @include flexbox(row, nowrap, center, center);
                        @include position(absolute);
                        @include squareSize(100%);
                        & img {
                            @include squareSize(3.125rem);
                            @media (min-width: $--desktop){
                                @include squareSize(3.75rem);
                            }
                            cursor: pointer;
                        }
                    }
                }
                & .name {
                    color: $--gray-300;
                    font-size: $--label-small;
                    @media (min-width:$--tablet) and (max-width:($--desktop - 1)){
                        font-size: $--label-medium;
                    }
                    @media (min-width: $--desktop){
                        @include squareSize($--desk-proImg);
                        font-size: $--label-x-l;
                    }
                }
            }   
        }
    }
}
