<footer class="footer__area">
  <h2 class="a11yHidden">공지사항</h2>
  <div class="footer__wrapper">
    <div class="footer__noticeLink">
      <a href="/" class="footer__notice">공지사항</a>
      <a href="/" class="footer__information">
        [안내] 합병보고 주주총회에 갈음하는 공고
      </a>
    </div>
    <ul class="footer__shortcut">
      <li class="shortcut">
        <button class="shortcut__btn">
          브랜드 바로가기<span class="shortcut__plus">+</span>
        </button>
        <ul class="shortcut__group">
          <li><a href="/">MNET</a></li>
          <li><a href="/">MWAVE</a></li>
          <li><a href="/">tvN</a></li>
          <li><a href="/">tvN STORY</a></li>
          <li><a href="/">tvN DRAMA</a></li>
          <li><a href="/">tvN SHOW</a></li>
          <li><a href="/">OCN</a></li>
          <li><a href="/">OCNmovies</a></li>
          <li><a href="/">OCNthrills</a></li>
          <li><a href="/">중화TV</a></li>
          <li><a href="/">UXN</a></li>
          <li><a href="/">CATCH ON</a></li>
          <li><a href="/">O'live</a></li>
          <li><a href="/">XTM</a></li>
          <li><a href="/">tooniverse</a></li>
          <li><a href="/">tvnD</a></li>
        </ul>
      </li>
      <li class="shortcut__bar"></li>
      <li class="shortcut">
        <button class="shortcut__btn">
          그룹 계열사 바로가기<span class="shortcut__plus">+</span>
        </button>
        <ul class="shortcut__group">
          <li><a href="/">CJ주식회사</a></li>
          <li><a href="/">CJ ENM 엔터테인먼트부문</a></li>
          <li><a href="/">CJ CGV</a></li>
          <li><a href="/">CJ제일제당(식품)</a></li>
          <li><a href="/">CJ프레시웨이</a></li>
          <li><a href="/">CJ푸드빌</a></li>
          <li><a href="/">CJ엠디원</a></li>
          <li><a href="/">CJ제일제당(바이오)</a></li>
          <li><a href="/">CJ ENM 커머스부문</a></li>
          <li><a href="/">CJ대한통운</a></li>
          <li><a href="/">CJ텔레닉스</a></li>
          <li><a href="/">CJ올리브영</a></li>
          <li><a href="/">CJ대한통운(건설)</a></li>
          <li><a href="/">CJ올리브네트웍스</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <ul class="footer__hrContainer">
    <li><a href="/" class="footer__hrList">고객센터</a></li>
    <li><a href="/" class="footer__hrList">이용약관</a></li>
    <li><a href="/" class="footer__hrList">개인정보처리방침</a></li>
    <li><a href="/" class="footer__hrList">청소년 보호정책</a></li>
    <li><a href="/" class="footer__hrList">법적 고지</a></li>
    <li><a href="/" class="footer__hrList">이벤트</a></li>
    <li><a href="/" class="footer__hrList">인재채용</a></li>
  </ul>
  <div class="footer__ownerinfoContainer">
    <p class="hr__lineHeight">
      대표이사: YANG JIEUL<span class="hr__divLine" aria-hidden="true">ㅣ</span
      ><a href="/">사업자정보확인</a
      ><span class="hr__divLine" aria-hidden="true">ㅣ</span> 사업자등록번호:
      188-88-01893<span class="hr__divLine" aria-hidden="true">ㅣ</span>
      통신판매신고번호:2020-서울마포-3641호
    </p>
    <p class="hr__lineHeight">
      사업장: 서울특별시 마포구 상암산로 34, DMC 디지털큐브 15층(상암동)<span
        class="hr__divLine"
        aria-hidden="true"
        >ㅣ</span
      >
      호스팅사업자: 씨제이올리브네트윅스(주)
    </p>
    <p class="hr__lineHeight">
      <a href="/" class="">고객문의 바로가기</a
      ><span class="hr__divLine" aria-hidden="true">ㅣ</span>
      <a href="/">대표메일: tving@cj.net</a
      ><span class="hr__divLine" aria-hidden="true">ㅣ</span>
      <a href="/">고객센터: 1670-1525(평일/주말 09~18시, 공휴일 휴무)</a>
    </p>
    <p class="hr__lineHeight">
      ENM 시청자 상담실 (편성 문의 및 시청자 의견): 080-080-0780
      <span class="hr__divLine" aria-hidden="true">ㅣ</span>
      Mnet 고객센터 (방송편성문의): 1855-1631
    </p>
  </div>
  <ul class="footer__sprite">
    <li class="sprite sprite__youtube">
      <a href="/"><span class="a11yHidden">유튜브 링크</span></a>
    </li>
    <li class="sprite sprite__instagram">
      <a href="/"><span class="a11yHidden">인스타그램 링크</span></a>
    </li>
    <li class="sprite sprite__twitter">
      <a href="/"><span class="a11yHidden">트위터 링크</span></a>
    </li>
    <li class="sprite sprite__facebook">
      <a href="/"><span class="a11yHidden">페이스북 링크</span></a>
    </li>
  </ul>
  <div class="footer__copyright">
    <small class="footer__copyrigtInfo"
      >Copyright © 주식회사 티빙 All right reserved.</small
    >
  </div>
</footer>
