

a {
    text-decoration: none;
    color: #c4c4c4;
}

body {
    background-color: antiquewhite;
}

/* 숨김 콘텐츠 */

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0,0,0,0);
    clip-path: polygon(0 0, 0 0, 0 0);
    overflow: hidden;
    padding: 0;
    white-space: nowrap;
    border-width: 0;
}

/* header 레이아웃 */

.header{
    background: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0) 100%);
    padding: .7188rem 1rem;
    
    display: flex;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.header__logo {
    width: 2.875rem;
    height: .9375rem;
    margin-right: 1.75rem;
    background-image: url("/assets/header/mobile_logo.png");
    background-repeat: no-repeat;
    background-size: contain;
}
  
.header__nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__program {
    display: none;
}

.nav__program > li a {
    display: flex;
    align-items: center;
    font-size: 0.75rem;
}

.program__live .live__img {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.25rem;
    background-image: url("/assets/header/desktop_live_default.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.program__paramount .paramount__img {
    width: 4.0625rem;
    height: 1.25rem;
    background-image: url("/assets/header/desktop_paramount_default.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header__aside {
    margin-left: auto;
    gap: 1rem;
    display: flex;
    gap: 1rem;
}

.aside__button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}

.aside__button--search {
    width: 1.125rem;
    height: 1.125rem;
    background-image: url("/assets/header/mobile_search_default.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.aside__button--profile {
    width: 1.125rem;
    height: 1.125rem;
    background-image: url("/assets/header/mobile_profile.png");
    background-repeat: no-repeat;
    background-size: contain;
}

@media (min-width:768px) and (max-width:1919px){
    .header {
        padding: 1rem 2.5rem;
        font-size: 1.3331rem;
    }

    .header__logo {
        width: 2.875rem;
        height: .9375rem;
        margin-right: 1.75rem;
        background-image: url("/assets/header/tablet_logo.png");
        background-repeat: no-repeat;
        background-size: contain;
    }

    .nav__program {
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 1.75rem;
    }

    .header__aside {
        gap: 1.75rem;
    }

    .aside__button--search {
        width: 1.5rem;
        height: 1.5rem;
        background-image: url("/assets/header/tablet_search_default.png");
    }
    
    .aside__button--profile {
        width: 1.5rem;
        height: 1.5rem;
        background-image: url("/assets/header/tablet_profile.png");
    }
}

@media (min-width: 1920px){
    .header {
        padding: 1.8125rem 4.375rem;
    }

    .header__logo {
        width: 8.25rem;
        height: 2.625rem;
        margin-right: 3.25rem;
        background-image: url("/assets/header/desktop_logo.png");
        background-repeat: no-repeat;
        background-size: contain;
    }

    .nav__program {
        display: flex;
        gap: 3.25rem;
    }

    .nav__program > li a {
        font-size: 1.3331rem;
    }

    .program__live .live__img {
        width: 2.125rem;
        height: 2.125rem;
        margin-right: .625rem;
        background-image: url("/assets/header/desktop_live_default.png");
    }
    
    .program__paramount .paramount__img {
        width: 6.875rem;
        height: 1.5938rem;
        background-image: url("/assets/header/desktop_paramount_default.png");
    }

    .header__aside {
        gap: 3.25rem;
    }

    .aside__button--search {
        width: 2.5rem;
        height: 2.5rem;
        background-image: url("/assets/header/desktop_search_default.png");
    }
    
    .aside__button--profile {
        width: 2.5rem;
        height: 2.5rem;
        background-image: url("/assets/header/desktop_profile.png");
    }
}
