$--title-background-color: #212121;
$--default-title-color: #a6a6a6;
$--title-border-radius: 0.1rem;
$--progress-bar-color: #FF153C;

.watching-lists {
  @include flexColumnNowrap;
  padding: 0 $--space-xs $--space-m $--space-xs;
  gap: $--space-xs;
  min-width: $--mobile;
  color: $--white;
  overflow: hidden;

  h3 {
    @include text($--font-size-s, 150%, 600);
  }

  .watching-lists__slider {
    .swiper {
      width: 100%;
      height: 100%;
      overflow: visible;
    }
    
    .slider-vertical .swiper-wrapper {
      
      .swiper-slide {
        @include flexColumnNowrap;
        align-items: flex-start;
        justify-content: center;
        // position: relative;
      
        a {
          @include slideSize($--space-xs);
          // height: 100%;
          cursor: pointer;
          transition: all 0.5s;
          position: relative;
        
          &:link,
          &:visited,
          &:active {
            color: $--color-title-text;
            text-decoration: none;
          } 
        
          &:hover {
            transform: translateY($--translate--value);
          }
        }

        .poster {
          display: block;
          width: 100%;
          border-radius: $--poster-border-radius $--poster-border-radius 0 0;
        }
      
        .title {
          display: block;
          position: relative;
          @include text($--font-size-s, 160%);
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          padding-left: 5%;
          line-height: 2rem;
          color: $--default-title-color;
          background-color: $--title-background-color;
          border-radius: 0 0 $--title-border-radius $--title-border-radius;
          padding-right: 2rem;
        }

        .more {
          position: absolute;
          background-color: transparent;
          border: none;
          background-image: url('/icon/main/iconMore.svg');
          width: 2rem;
          aspect-ratio: 1;
          right: 0;
          cursor: pointer;
        }

        .adult-only {
          background-image:url('/icon/main/adultOnly.svg');
          background-repeat: no-repeat;
          background-position: center center;
          background-size: contain;
        }

        .original {
          background-image:url('/icon/main/original.svg');
          background-repeat: no-repeat;
          background-position: center center;
          background-size: contain;
        }

        .line {
          position: absolute;
          background-color: $--progress-bar-color;
          height: 3px;
          bottom: 2rem;
          // z-index: 100;
        }

        .replay {
          position: absolute;
          // z-index: 1;
          top: 50%;
          transform: translate(0, -50%);
          padding-bottom: 2rem;
          width: 100%;
          height: 30%;
        }
      }
    }
    
    .slider-vertical {
      .swiper-pagination {
        display: none;
      }
      
      .swiper-button-prev,
      .swiper-button-next {
        position: absolute;
        z-index: 10;
        top: 0;
        background-color: black;
        height: 100%;
        color: transparent;
      }
    
      .swiper-button-prev {
        left: -($--space-xs);
      }
      
      .swiper-button-next {
        right: -($--space-xs);
      }
    
      .swiper-button-disabled,
      .swiper-button-prev,
      .swiper-button-next {
        display: none;
        &::after {
          display: none;
        }
      }
    }
  }

  @media (min-width: $--tablet) and (max-width: ($--desktop - 1)) {
    padding: 0 $--space-xxl $--space-lg $--space-xxl;
    gap: $--space-xs ;

    h3 {
      @include text($--font-size-m, 140%, 700);
    }
  
    & .watching-lists__slider {
        .swiper {
      }
    
      .slider-vertical .swiper-wrapper {
        .swiper-slide {
          a {
            @include slideSize($--space-xs);
        
            &:hover {
            }
          }
      
          .poster {
          }
      
          .title {
            @include text($--font-size-s, 160%);
            padding-left: 8%;
            line-height: 2.5rem;
          }
  
          .more {
            width: 2.5rem;
          }

          .adult-only {
            position: absolute;
            width: 100%;
            height: 6%;
            right: -42%;
            top: 2%;
          }

          .original {
            position: absolute;
            width: 100%;
            height: 6%;
            bottom: 5rem;
          }

          .line {
            height: 4px;
            bottom: 2.5rem;
          }
  
          .replay {
            padding-bottom: 2.5rem;
          }
        }
      }
    
      .slider-vertical {
        .swiper-pagination {
        }
      
        .swiper-button-disabled,
        .swiper-button-prev,
        .swiper-button-next {
        }
      }

      &:hover {
        .swiper-button-prev,
        .swiper-button-next {
          @include swiperButton($--space-m, $--space-xxl);
        }
  
        .swiper-button-prev {
          left: -($--space-xxl);
          @include swiperPrevButtonBackground('/icon/main/slidePrev.svg');
        }
  
        .swiper-button-next {
          right: -($--space-xxl);
          @include swiperNextButtonBackground('/icon/main/slideNext.svg');
        }
  
        .swiper-button-disabled {
          display: none;
        }
      }
    }
  }
    
  @media (min-width: $--desktop) {
    padding: 0 $--space-xxxl $--space-xl $--space-xxxl;
    gap: $--space-m;
    
    h3 {
      @include text($--font-size-xl, 140%, 700);
    }
  
    .watching-lists__slider {
      .swiper {
      }
    
      .slider-vertical .swiper-wrapper {
        .swiper-slide {
          a {
            @include slideSize($--space-m);
        
            &:hover {
            }
          }
      
          .poster {
          }
      
          .title {
            @include text($--font-size-lg, 150%);
            padding-left: 8%;
            line-height: 3rem;
          }
  
          .more {
            width: 3rem;
          }


          .adult-only {
            position: absolute;
            width: 100%;
            height: 6%;
            right: -42%;
            top: 2%;
          }

          .original {
            position: absolute;
            width: 100%;
            height: 6%;
            bottom: 18%;
          }

          .line {
            height: 4px;
            bottom: 3rem;
          }
  
          .replay {
            padding-bottom: 3rem;
          }
        }
      }
    
      .slider-vertical {
        .swiper-pagination {
        }
      
        .swiper-button-disabled,
        .swiper-button-prev,
        .swiper-button-next {
        }
      }
    
      &:hover {
        .swiper-button-prev,
        .swiper-button-next {
          @include swiperButton($--font-size-xl, $--space-xxxl);
        }
    
        .swiper-button-prev {
          left: -($--space-xxxl);
          @include swiperPrevButtonBackground('/icon/main/slidePrev.svg');
        }
    
        .swiper-button-next {
          right: -($--space-xxxl);
          @include swiperNextButtonBackground('/icon/main/slideNext.svg');
        }
    
        .swiper-button-disabled {
          display: none;
        }
      }
    }
  }
}


