<!doctype html>
<html lang="ko-KR">
  <head>
    <title>Vite Scss</title>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/scss/main.scss">
    <script type="module" src="./main.js"></script>
  </head>
  <body>

    <div id="app">
      <section class="ad-banner">
        <a href="/">
          <picture>
            <source srcset="/assets/ad/sportsAdBanner.png" media="(max-width:768px)">
            <source srcset="/assets/ad/sportsAdBanner@2x.png" media="(max-width:1920px)">
            <img src="/assets/ad/sportsAdBanner@3x.png" alt="TVING SPORTS 광고 배너">
          </picture>
        </a>
      </section>

    </div>

    
    </body>
</html>