<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>

    <script type="module" src="/components/contentSlider/only/only.js"></script>
    <link rel="stylesheet" href="/styles/css/main.css" />
    <title>Document</title>
  </head>
  <body>
  
    <div id="app">
      <section class="only-lists">
        <h3>오직 티빙에만 있어요</h3>
        <div class="only-lists__slider">
          <div class="swiper slider-only">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <a href="">
                  <picture>
                    <source srcset="/assets/poster/전체관람가.png" media="(max-width:768px)">
                    <source srcset="/assets/poster/전체관람가@2x.png" media="(max-width:1920px)">
                    <img src="/assets/poster/전체관람가@3x.png" alt="전체관람가 포스터">
                  </picture>
                  <p class="title">전체관람가</p>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="">
                  <picture>
                    <source srcset="/assets/poster/러브캐처인발리_only.png" media="(max-width:768px)">
                    <source srcset="/assets/poster/러브캐처인발리_only@2x.png" media="(max-width:1920px)">
                    <img src="/assets/poster/러브캐처인발리_only@3x.png" alt="러브캐처 인 발리 포스터">
                  </picture>
                  <p class="title">러브캐처 인 발리</p>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="">
                  <picture>
                    <source srcset="/assets/poster/환승연애2.png" media="(max-width:768px)">
                    <source srcset="/assets/poster/환승연애2@2x.png" media="(max-width:1920px)">
                    <img src="/assets/poster/환승연애2@3x.png" alt="환승연애2 포스터">
                  </picture>
                  <p class="title">환승연애2</p>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="">
                  <picture>
                    <source srcset="/assets/poster/몸값.png" media="(max-width:768px)">
                    <source srcset="/assets/poster/몸값@2x.png" media="(max-width:1920px)">
                    <img src="/assets/poster/몸값@3x.png" alt="몸값 포스터">
                  </picture>
                  <p class="title">몸값</p> 
                </a>
              </div>
              <div class="swiper-slide">
                <a href="">
                  <picture>
                    <source srcset="/assets/poster/술꾼도시여자들_only.png" media="(max-width:768px)">
                    <source srcset="/assets/poster/술꾼도시여자들_only@2x.png" media="(max-width:1920px)">
                    <img src="/assets/poster/술꾼도시여자들_only@3x.png" alt="술꾼도시여자들 포스터">
                  </picture>
                  <p class="title">술꾼도시여자들</p>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="">
                  <picture>
                    <source srcset="/assets/poster/괴이.png" media="(max-width:768px)">
                    <source srcset="/assets/poster/괴이@2x.png" media="(max-width:1920px)">
                    <img src="/assets/poster/괴이@3x.png" alt="괴이 포스터">
                  </picture>
                  <p class="title">괴이</p>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="">
                  <picture>
                    <source srcset="/assets/poster/푸드크로니클.png" media="(max-width:768px)">
                    <source srcset="/assets/poster/푸드크로니클@2x.png" media="(max-width:1920px)">
                    <img src="/assets/poster/푸드크로니클@3x.png" alt="푸드 크로니클 포스터">
                  </picture>
                  <p class="title">푸드 크로니클</p>
                </a>
              </div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
        </div>
      </section>
    </div>

  </body>
</html>