@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.2 | 20191019
   License: none (public domain)
*/
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu,
ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Color styles */
/* Text-size styles */
/* Effect styles */
/* screen size */
/* for personal use*/
/* 하단에 채워주세용 */
body {
  font-family: "Pretendard Variable", Pretendard, sans-serif;
  font-size: 16px;
}

html,
body {
  position: relative;
  height: 100%;
  margin-top: 50px;
  min-width: 320px;
  background-color: black;
}

.must-lists {
  display: flex;
  flex-flow: column nowrap;
  padding: 0 0.5rem 1rem 0.5rem;
  gap: 0.5rem;
  min-width: 320px;
  color: rgb(255, 255, 255);
  overflow: hidden;
}
.must-lists h3 {
  font-size: 0.75rem;
  line-height: 150%;
  font-weight: 600;
}
.must-lists .must-lists__slider .swiper {
  width: 100%;
  height: 100%;
  overflow: visible;
}
.must-lists .must-lists__slider .slider-vertical .swiper-wrapper .swiper-slide {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
}
.must-lists .must-lists__slider .slider-vertical .swiper-wrapper .swiper-slide a {
  width: calc(100% - 0.5rem);
  cursor: pointer;
  transition: all 0.5s;
  position: relative;
}
.must-lists .must-lists__slider .slider-vertical .swiper-wrapper .swiper-slide a:link, .must-lists .must-lists__slider .slider-vertical .swiper-wrapper .swiper-slide a:visited, .must-lists .must-lists__slider .slider-vertical .swiper-wrapper .swiper-slide a:active {
  color: rgb(196, 196, 196);
  text-decoration: none;
}
.must-lists .must-lists__slider .slider-vertical .swiper-wrapper .swiper-slide a:hover {
  transform: translateY(-3%);
}
.must-lists .must-lists__slider .slider-vertical .swiper-wrapper .swiper-slide a img {
  display: block;
  width: 100%;
  border-radius: 0.25rem;
}
.must-lists .must-lists__slider .slider-vertical .swiper-wrapper .swiper-slide .title {
  display: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.must-lists .must-lists__slider .slider-vertical .swiper-wrapper .swiper-slide .adult-only {
  background-image: url("/assets/poster/adultOnly.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.must-lists .must-lists__slider .slider-vertical .swiper-wrapper .swiper-slide .original {
  background-image: url("/assets/poster/original.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.must-lists .must-lists__slider .slider-vertical .swiper-pagination {
  display: none;
}
.must-lists .must-lists__slider .slider-vertical .swiper-button-prev,
.must-lists .must-lists__slider .slider-vertical .swiper-button-next {
  position: absolute;
  z-index: 10;
  top: 0;
  background-color: black;
  height: 100%;
  color: transparent;
}
.must-lists .must-lists__slider .slider-vertical .swiper-button-prev {
  left: -0.5rem;
}
.must-lists .must-lists__slider .slider-vertical .swiper-button-next {
  right: -0.5rem;
}
.must-lists .must-lists__slider .slider-vertical .swiper-button-disabled,
.must-lists .must-lists__slider .slider-vertical .swiper-button-prev,
.must-lists .must-lists__slider .slider-vertical .swiper-button-next {
  display: none;
}
.must-lists .must-lists__slider .slider-vertical .swiper-button-disabled::after,
.must-lists .must-lists__slider .slider-vertical .swiper-button-prev::after,
.must-lists .must-lists__slider .slider-vertical .swiper-button-next::after {
  display: none;
}
@media (min-width: 768px) and (max-width: 1919px) {
  .must-lists {
    padding: 0 2.5rem 1.75rem 2.5rem;
    gap: 0.5rem;
  }
  .must-lists h3 {
    font-size: 1rem;
    line-height: 140%;
    font-weight: 700;
  }
  .must-lists .must-lists__slider .slider-vertical .swiper-wrapper .swiper-slide a {
    width: calc(100% - 0.5rem);
  }
  .must-lists .must-lists__slider .slider-vertical .swiper-wrapper .swiper-slide a img {
    margin-bottom: 0.25rem;
  }
  .must-lists .must-lists__slider .slider-vertical .swiper-wrapper .swiper-slide .title {
    display: block;
    font-size: 0.75rem;
    line-height: 160%;
    font-weight: 400;
  }
  .must-lists .must-lists__slider .slider-vertical .swiper-wrapper .swiper-slide .adult-only {
    position: absolute;
    width: 100%;
    height: 6%;
    right: -42%;
    top: 2%;
  }
  .must-lists .must-lists__slider .slider-vertical .swiper-wrapper .swiper-slide .original {
    position: absolute;
    width: 100%;
    height: 6%;
    bottom: 14%;
  }
  .must-lists .must-lists__slider:hover .swiper-button-prev,
  .must-lists .must-lists__slider:hover .swiper-button-next {
    display: block;
    position: absolute;
    z-index: 10;
    top: 1rem;
    width: 2.5rem;
  }
  .must-lists .must-lists__slider:hover .swiper-button-prev {
    left: -2.5rem;
    background: url("/assets/icon_slide_left.svg"), radial-gradient(106.88% 50.3% at -6.88% 50%, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.6) 53.21%, rgba(0, 0, 0, 0) 100%);
    background-repeat: no-repeat;
    background-position: center center;
  }
  .must-lists .must-lists__slider:hover .swiper-button-next {
    right: -2.5rem;
    background: url("/assets/icon_slide_right.svg"), radial-gradient(106.25% 50% at 106.25% 50%, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.6) 52.6%, rgba(0, 0, 0, 0) 100%);
    background-repeat: no-repeat;
    background-position: center center;
  }
  .must-lists .must-lists__slider:hover .swiper-button-disabled {
    display: none;
  }
}
@media (min-width: 1920px) {
  .must-lists {
    padding: 0 4.375rem 2.25rem 4.375rem;
    gap: 1rem;
  }
  .must-lists h3 {
    font-size: 1.78rem;
    line-height: 140%;
    font-weight: 700;
  }
  .must-lists .must-lists__slider .slider-vertical .swiper-wrapper .swiper-slide a {
    width: calc(100% - 1rem);
  }
  .must-lists .must-lists__slider .slider-vertical .swiper-wrapper .swiper-slide a img {
    margin-bottom: 0.5rem;
  }
  .must-lists .must-lists__slider .slider-vertical .swiper-wrapper .swiper-slide .title {
    display: block;
    font-size: 1.33rem;
    line-height: 150%;
    font-weight: 400;
  }
  .must-lists .must-lists__slider .slider-vertical .swiper-wrapper .swiper-slide .adult-only {
    position: absolute;
    width: 100%;
    height: 6%;
    right: -42%;
    top: 2%;
  }
  .must-lists .must-lists__slider .slider-vertical .swiper-wrapper .swiper-slide .original {
    position: absolute;
    width: 100%;
    height: 6%;
    bottom: 14%;
  }
  .must-lists .must-lists__slider:hover .swiper-button-prev,
  .must-lists .must-lists__slider:hover .swiper-button-next {
    display: block;
    position: absolute;
    z-index: 10;
    top: 1rem;
    width: 2.5rem;
  }
  .must-lists .must-lists__slider:hover .swiper-button-prev {
    left: -4.375rem;
    background: url("/assets/icon_slide_left.svg"), radial-gradient(106.88% 50.3% at -6.88% 50%, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.6) 53.21%, rgba(0, 0, 0, 0) 100%);
    background-repeat: no-repeat;
    background-position: center center;
  }
  .must-lists .must-lists__slider:hover .swiper-button-next {
    right: -4.375rem;
    background: url("/assets/icon_slide_right.svg"), radial-gradient(106.25% 50% at 106.25% 50%, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.6) 52.6%, rgba(0, 0, 0, 0) 100%);
    background-repeat: no-repeat;
    background-position: center center;
  }
  .must-lists .must-lists__slider:hover .swiper-button-disabled {
    display: none;
  }
}

.quick-lists {
  display: flex;
  flex-flow: column nowrap;
  padding: 0 0.5rem 1rem 0.5rem;
  gap: 0.5rem;
  min-width: 320px;
  color: rgb(255, 255, 255);
  overflow: hidden;
}
.quick-lists h3 {
  font-size: 0.75rem;
  line-height: 150%;
  font-weight: 600;
}
.quick-lists .quick-lists__slider .swiper {
  width: 100%;
  height: 100%;
  overflow: visible;
}
.quick-lists .quick-lists__slider .slider-horizontal .swiper-wrapper .swiper-slide {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
}
.quick-lists .quick-lists__slider .slider-horizontal .swiper-wrapper .swiper-slide a {
  width: calc(100% - 0.5rem);
  cursor: pointer;
  transition: all 0.5s;
  position: relative;
}
.quick-lists .quick-lists__slider .slider-horizontal .swiper-wrapper .swiper-slide a:link, .quick-lists .quick-lists__slider .slider-horizontal .swiper-wrapper .swiper-slide a:visited, .quick-lists .quick-lists__slider .slider-horizontal .swiper-wrapper .swiper-slide a:active {
  color: rgb(196, 196, 196);
  text-decoration: none;
}
.quick-lists .quick-lists__slider .slider-horizontal .swiper-wrapper .swiper-slide a:hover {
  transform: translateY(-3%);
}
.quick-lists .quick-lists__slider .slider-horizontal .swiper-wrapper .swiper-slide a img {
  display: block;
  width: 100%;
  border-radius: 0.25rem;
}
.quick-lists .quick-lists__slider .slider-horizontal .swiper-wrapper .swiper-slide .title {
  font-size: 0.75rem;
  line-height: 150%;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.quick-lists .quick-lists__slider .slider-horizontal .swiper-wrapper .swiper-slide .info {
  color: rgb(166, 166, 166);
  font-size: 0.75rem;
  line-height: 160%;
  font-weight: 400;
}
.quick-lists .quick-lists__slider .slider-horizontal .swiper-wrapper .swiper-slide .quick-vod {
  position: absolute;
  width: 35%;
  height: 16%;
  left: 2%;
  top: 2%;
  background-image: url("/assets/poster/quickVod.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.quick-lists .quick-lists__slider .slider-horizontal .swiper-pagination {
  display: none;
}
.quick-lists .quick-lists__slider .slider-horizontal .swiper-button-prev,
.quick-lists .quick-lists__slider .slider-horizontal .swiper-button-next {
  position: absolute;
  z-index: 10;
  top: 0;
  background-color: black;
  height: 100%;
  color: transparent;
}
.quick-lists .quick-lists__slider .slider-horizontal .swiper-button-prev {
  left: -0.5rem;
}
.quick-lists .quick-lists__slider .slider-horizontal .swiper-button-next {
  right: -0.5rem;
}
.quick-lists .quick-lists__slider .slider-horizontal .swiper-button-disabled,
.quick-lists .quick-lists__slider .slider-horizontal .swiper-button-prev,
.quick-lists .quick-lists__slider .slider-horizontal .swiper-button-next {
  display: none;
}
.quick-lists .quick-lists__slider .slider-horizontal .swiper-button-disabled::after,
.quick-lists .quick-lists__slider .slider-horizontal .swiper-button-prev::after,
.quick-lists .quick-lists__slider .slider-horizontal .swiper-button-next::after {
  display: none;
}
@media (min-width: 768px) and (max-width: 1919px) {
  .quick-lists {
    padding: 0 2.5rem 1.75rem 2.5rem;
    gap: 0.5rem;
  }
  .quick-lists h3 {
    font-size: 1rem;
    line-height: 140%;
    font-weight: 700;
  }
  .quick-lists .quick-lists__slider .slider-horizontal .swiper-wrapper .swiper-slide a {
    width: calc(100% - 0.5rem);
  }
  .quick-lists .quick-lists__slider .slider-horizontal .swiper-wrapper .swiper-slide a img {
    margin-bottom: 0.25rem;
  }
  .quick-lists .quick-lists__slider .slider-horizontal .swiper-wrapper .swiper-slide .title {
    font-size: 0.75rem;
    line-height: 150%;
    font-weight: 600;
    margin-bottom: 0.25rem;
  }
  .quick-lists .quick-lists__slider .slider-horizontal .swiper-wrapper .swiper-slide .info {
    font-size: 0.75rem;
    line-height: 160%;
    font-weight: 400;
  }
  .quick-lists .quick-lists__slider .slider-horizontal .swiper-wrapper .swiper-slide .quick-vod {
    width: 25%;
    height: 12%;
    left: 2%;
    top: 2%;
  }
  .quick-lists .quick-lists__slider:hover .swiper-button-prev,
  .quick-lists .quick-lists__slider:hover .swiper-button-next {
    display: block;
    position: absolute;
    z-index: 10;
    top: 1rem;
    width: 2.5rem;
  }
  .quick-lists .quick-lists__slider:hover .swiper-button-prev {
    left: -2.5rem;
    background: url("/assets/icon_slide_left.svg"), radial-gradient(106.88% 50.3% at -6.88% 50%, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.6) 53.21%, rgba(0, 0, 0, 0) 100%);
    background-repeat: no-repeat;
    background-position: center center;
  }
  .quick-lists .quick-lists__slider:hover .swiper-button-next {
    right: -2.5rem;
    background: url("/assets/icon_slide_right.svg"), radial-gradient(106.25% 50% at 106.25% 50%, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.6) 52.6%, rgba(0, 0, 0, 0) 100%);
    background-repeat: no-repeat;
    background-position: center center;
  }
  .quick-lists .quick-lists__slider:hover .swiper-button-disabled {
    display: none;
  }
}
@media (min-width: 1920px) {
  .quick-lists {
    padding: 0 4.375rem 2.25rem 4.375rem;
    gap: 1rem;
  }
  .quick-lists h3 {
    font-size: 1.78rem;
    line-height: 140%;
    font-weight: 700;
  }
  .quick-lists .quick-lists__slider .slider-horizontal .swiper-wrapper .swiper-slide a {
    width: calc(100% - 1rem);
  }
  .quick-lists .quick-lists__slider .slider-horizontal .swiper-wrapper .swiper-slide a img {
    margin-bottom: 0.5rem;
  }
  .quick-lists .quick-lists__slider .slider-horizontal .swiper-wrapper .swiper-slide .title {
    font-size: 1.33rem;
    line-height: 150%;
    font-weight: 600;
    margin-bottom: 0.25rem;
  }
  .quick-lists .quick-lists__slider .slider-horizontal .swiper-wrapper .swiper-slide .info {
    font-size: 1rem;
    line-height: 160%;
    font-weight: 400;
  }
  .quick-lists .quick-lists__slider .slider-horizontal .swiper-wrapper .swiper-slide .quick-vod {
    width: 25%;
    height: 12%;
    left: 2%;
    top: 2%;
  }
  .quick-lists .quick-lists__slider:hover .swiper-button-prev,
  .quick-lists .quick-lists__slider:hover .swiper-button-next {
    display: block;
    position: absolute;
    z-index: 10;
    top: 1rem;
    width: 2.5rem;
  }
  .quick-lists .quick-lists__slider:hover .swiper-button-prev {
    left: -4.375rem;
    background: url("/assets/icon_slide_left.svg"), radial-gradient(106.88% 50.3% at -6.88% 50%, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.6) 53.21%, rgba(0, 0, 0, 0) 100%);
    background-repeat: no-repeat;
    background-position: center center;
  }
  .quick-lists .quick-lists__slider:hover .swiper-button-next {
    right: -4.375rem;
    background: url("/assets/icon_slide_right.svg"), radial-gradient(106.25% 50% at 106.25% 50%, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.6) 52.6%, rgba(0, 0, 0, 0) 100%);
    background-repeat: no-repeat;
    background-position: center center;
  }
  .quick-lists .quick-lists__slider:hover .swiper-button-disabled {
    display: none;
  }
}

.popular-lists {
  display: flex;
  flex-flow: column nowrap;
  padding: 0 0.5rem 1rem 0.5rem;
  gap: 0.5rem;
  min-width: 320px;
  color: rgb(255, 255, 255);
  overflow: hidden;
}
.popular-lists h3 {
  font-size: 0.75rem;
  line-height: 150%;
  font-weight: 600;
}
.popular-lists .popular-lists__slider .swiper {
  width: 100%;
  height: 100%;
  overflow: visible;
}
.popular-lists .popular-lists__slider .slider-vertical .swiper-wrapper .swiper-slide {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
}
.popular-lists .popular-lists__slider .slider-vertical .swiper-wrapper .swiper-slide a {
  width: calc(100% - 0.5rem);
  cursor: pointer;
  transition: all 0.5s;
  position: relative;
}
.popular-lists .popular-lists__slider .slider-vertical .swiper-wrapper .swiper-slide a:link, .popular-lists .popular-lists__slider .slider-vertical .swiper-wrapper .swiper-slide a:visited, .popular-lists .popular-lists__slider .slider-vertical .swiper-wrapper .swiper-slide a:active {
  color: rgb(196, 196, 196);
  text-decoration: none;
}
.popular-lists .popular-lists__slider .slider-vertical .swiper-wrapper .swiper-slide a:hover {
  transform: translateY(-3%);
}
.popular-lists .popular-lists__slider .slider-vertical .swiper-wrapper .swiper-slide a img {
  display: block;
  width: 100%;
  border-radius: 0.25rem;
  margin-bottom: 0.25rem;
}
.popular-lists .popular-lists__slider .slider-vertical .swiper-wrapper .swiper-slide .rank {
  position: absolute;
  font-family: "Noto Sans KR", sans-serif;
  font-style: italic;
  font-size: 2.125rem;
  line-height: 160%;
  font-weight: 700;
  color: rgb(255, 255, 255);
  bottom: -0.5rem;
}
.popular-lists .popular-lists__slider .slider-vertical .swiper-wrapper .swiper-slide .title {
  font-size: 0.75rem;
  line-height: 160%;
  font-weight: 400;
  margin-left: 2.125rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.popular-lists .popular-lists__slider .slider-vertical .swiper-wrapper .swiper-slide .adult-only {
  background-image: url("/assets/poster/adultOnly.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.popular-lists .popular-lists__slider .slider-vertical .swiper-wrapper .swiper-slide .original {
  background-image: url("/assets/poster/original.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.popular-lists .popular-lists__slider .slider-vertical .swiper-pagination {
  display: none;
}
.popular-lists .popular-lists__slider .slider-vertical .swiper-button-prev,
.popular-lists .popular-lists__slider .slider-vertical .swiper-button-next {
  position: absolute;
  z-index: 10;
  top: 0;
  background-color: black;
  height: 100%;
  color: transparent;
}
.popular-lists .popular-lists__slider .slider-vertical .swiper-button-prev {
  left: -0.5rem;
}
.popular-lists .popular-lists__slider .slider-vertical .swiper-button-next {
  right: -0.5rem;
}
.popular-lists .popular-lists__slider .slider-vertical .swiper-button-disabled,
.popular-lists .popular-lists__slider .slider-vertical .swiper-button-prev,
.popular-lists .popular-lists__slider .slider-vertical .swiper-button-next {
  display: none;
}
.popular-lists .popular-lists__slider .slider-vertical .swiper-button-disabled::after,
.popular-lists .popular-lists__slider .slider-vertical .swiper-button-prev::after,
.popular-lists .popular-lists__slider .slider-vertical .swiper-button-next::after {
  display: none;
}
@media (min-width: 768px) and (max-width: 1919px) {
  .popular-lists {
    padding: 0 2.5rem 1.75rem 2.5rem;
    gap: 0.5rem;
  }
  .popular-lists h3 {
    font-size: 1rem;
    line-height: 140%;
    font-weight: 700;
  }
  .popular-lists .popular-lists__slider .slider-vertical .swiper-wrapper .swiper-slide a {
    width: calc(100% - 0.5rem);
  }
  .popular-lists .popular-lists__slider .slider-vertical .swiper-wrapper .swiper-slide a img {
    margin-bottom: 0.25rem;
  }
  .popular-lists .popular-lists__slider .slider-vertical .swiper-wrapper .swiper-slide .rank {
    font-size: 2.875rem;
    line-height: 160%;
    font-weight: 700;
    bottom: -0.75rem;
  }
  .popular-lists .popular-lists__slider .slider-vertical .swiper-wrapper .swiper-slide .title {
    font-size: 0.75rem;
    line-height: 160%;
    font-weight: 400;
    margin-left: 2.875rem;
  }
  .popular-lists .popular-lists__slider .slider-vertical .swiper-wrapper .swiper-slide .adult-only {
    position: absolute;
    width: 100%;
    height: 6%;
    right: -42%;
    top: 2%;
  }
  .popular-lists .popular-lists__slider .slider-vertical .swiper-wrapper .swiper-slide .original {
    position: absolute;
    width: 100%;
    height: 6%;
    bottom: 14%;
  }
  .popular-lists .popular-lists__slider:hover .swiper-button-prev,
  .popular-lists .popular-lists__slider:hover .swiper-button-next {
    display: block;
    position: absolute;
    z-index: 10;
    top: 1rem;
    width: 2.5rem;
  }
  .popular-lists .popular-lists__slider:hover .swiper-button-prev {
    left: -2.5rem;
    background: url("/assets/icon_slide_left.svg"), radial-gradient(106.88% 50.3% at -6.88% 50%, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.6) 53.21%, rgba(0, 0, 0, 0) 100%);
    background-repeat: no-repeat;
    background-position: center center;
  }
  .popular-lists .popular-lists__slider:hover .swiper-button-next {
    right: -2.5rem;
    background: url("/assets/icon_slide_right.svg"), radial-gradient(106.25% 50% at 106.25% 50%, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.6) 52.6%, rgba(0, 0, 0, 0) 100%);
    background-repeat: no-repeat;
    background-position: center center;
  }
  .popular-lists .popular-lists__slider:hover .swiper-button-disabled {
    display: none;
  }
}
@media (min-width: 1920px) {
  .popular-lists {
    padding: 0 4.375rem 2.25rem 4.375rem;
    gap: 1rem;
  }
  .popular-lists h3 {
    font-size: 1.78rem;
    line-height: 140%;
    font-weight: 700;
  }
  .popular-lists .popular-lists__slider .slider-vertical .swiper-wrapper .swiper-slide a {
    width: calc(100% - 1rem);
  }
  .popular-lists .popular-lists__slider .slider-vertical .swiper-wrapper .swiper-slide a img {
    margin-bottom: 0.5rem;
  }
  .popular-lists .popular-lists__slider .slider-vertical .swiper-wrapper .swiper-slide .rank {
    font-size: 4.375rem;
    line-height: 160%;
    font-weight: 700;
    bottom: -1.75rem;
  }
  .popular-lists .popular-lists__slider .slider-vertical .swiper-wrapper .swiper-slide .title {
    font-size: 1.33rem;
    line-height: 160%;
    font-weight: 700;
    margin-left: 4.375rem;
  }
  .popular-lists .popular-lists__slider .slider-vertical .swiper-wrapper .swiper-slide .adult-only {
    position: absolute;
    width: 100%;
    height: 6%;
    right: -42%;
    top: 2%;
  }
  .popular-lists .popular-lists__slider .slider-vertical .swiper-wrapper .swiper-slide .original {
    position: absolute;
    width: 100%;
    height: 6%;
    bottom: 14%;
  }
  .popular-lists .popular-lists__slider:hover .swiper-button-prev,
  .popular-lists .popular-lists__slider:hover .swiper-button-next {
    display: block;
    position: absolute;
    z-index: 10;
    top: 1rem;
    width: 2.5rem;
  }
  .popular-lists .popular-lists__slider:hover .swiper-button-prev {
    left: -4.375rem;
    background: url("/assets/icon_slide_left.svg"), radial-gradient(106.88% 50.3% at -6.88% 50%, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.6) 53.21%, rgba(0, 0, 0, 0) 100%);
    background-repeat: no-repeat;
    background-position: center center;
  }
  .popular-lists .popular-lists__slider:hover .swiper-button-next {
    right: -4.375rem;
    background: url("/assets/icon_slide_right.svg"), radial-gradient(106.25% 50% at 106.25% 50%, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.6) 52.6%, rgba(0, 0, 0, 0) 100%);
    background-repeat: no-repeat;
    background-position: center center;
  }
  .popular-lists .popular-lists__slider:hover .swiper-button-disabled {
    display: none;
  }
}

.live-lists {
  display: flex;
  flex-flow: column nowrap;
  padding: 0 0.5rem 1rem 0.5rem;
  gap: 0.5rem;
  min-width: 320px;
  color: rgb(255, 255, 255);
  overflow: hidden;
}
.live-lists h3 {
  font-size: 0.75rem;
  line-height: 150%;
  font-weight: 600;
}
.live-lists .live-lists__slider .swiper {
  width: 100%;
  height: 100%;
  overflow: visible;
}
.live-lists .live-lists__slider .slider-horizontal .swiper-wrapper .swiper-slide {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
}
.live-lists .live-lists__slider .slider-horizontal .swiper-wrapper .swiper-slide a {
  width: calc(100% - 0.5rem);
  cursor: pointer;
  transition: all 0.5s;
  position: relative;
}
.live-lists .live-lists__slider .slider-horizontal .swiper-wrapper .swiper-slide a:link, .live-lists .live-lists__slider .slider-horizontal .swiper-wrapper .swiper-slide a:visited, .live-lists .live-lists__slider .slider-horizontal .swiper-wrapper .swiper-slide a:active {
  color: rgb(196, 196, 196);
  text-decoration: none;
}
.live-lists .live-lists__slider .slider-horizontal .swiper-wrapper .swiper-slide a:hover {
  transform: translateY(-3%);
}
.live-lists .live-lists__slider .slider-horizontal .swiper-wrapper .swiper-slide a img {
  display: block;
  width: 100%;
  border-radius: 0.25rem;
  margin: 0.25rem;
}
.live-lists .live-lists__slider .slider-horizontal .swiper-wrapper .swiper-slide .rank {
  position: absolute;
  font-family: "Noto Sans KR", sans-serif;
  font-style: italic;
  font-size: 2.125rem;
  line-height: 160%;
  font-weight: 700;
  color: rgb(255, 255, 255);
}
.live-lists .live-lists__slider .slider-horizontal .swiper-wrapper .swiper-slide .title {
  font-size: 0.75rem;
  line-height: 150%;
  font-weight: 600;
  margin-left: 2.125rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.live-lists .live-lists__slider .slider-horizontal .swiper-wrapper .swiper-slide .info {
  color: rgb(166, 166, 166);
  font-size: 0.75rem;
  line-height: 160%;
  font-weight: 400;
  margin-left: 2.125rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.live-lists .live-lists__slider .slider-horizontal .swiper-wrapper .swiper-slide .sub-info {
  color: rgb(107, 107, 107);
  font-size: 0.75rem;
  line-height: 160%;
  font-weight: 400;
  margin-left: 2.125rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.live-lists .live-lists__slider .slider-horizontal .swiper-pagination {
  display: none;
}
.live-lists .live-lists__slider .slider-horizontal .swiper-button-prev,
.live-lists .live-lists__slider .slider-horizontal .swiper-button-next {
  position: absolute;
  z-index: 10;
  top: 0;
  background-color: black;
  height: 100%;
  color: transparent;
}
.live-lists .live-lists__slider .slider-horizontal .swiper-button-prev {
  left: -0.5rem;
}
.live-lists .live-lists__slider .slider-horizontal .swiper-button-next {
  right: -0.5rem;
}
.live-lists .live-lists__slider .slider-horizontal .swiper-button-disabled,
.live-lists .live-lists__slider .slider-horizontal .swiper-button-prev,
.live-lists .live-lists__slider .slider-horizontal .swiper-button-next {
  display: none;
}
.live-lists .live-lists__slider .slider-horizontal .swiper-button-disabled::after,
.live-lists .live-lists__slider .slider-horizontal .swiper-button-prev::after,
.live-lists .live-lists__slider .slider-horizontal .swiper-button-next::after {
  display: none;
}
@media (min-width: 768px) and (max-width: 1919px) {
  .live-lists {
    padding: 0 2.5rem 1.75rem 2.5rem;
    gap: 0.5rem;
  }
  .live-lists h3 {
    font-size: 1rem;
    line-height: 140%;
    font-weight: 700;
  }
  .live-lists .live-lists__slider .slider-horizontal .swiper-wrapper .swiper-slide a {
    width: calc(100% - 0.5rem);
  }
  .live-lists .live-lists__slider .slider-horizontal .swiper-wrapper .swiper-slide a img {
    margin-bottom: 0.25rem;
  }
  .live-lists .live-lists__slider .slider-horizontal .swiper-wrapper .swiper-slide .info {
    font-size: 0.75rem;
    line-height: 160%;
    font-weight: 400;
  }
  .live-lists .live-lists__slider .slider-horizontal .swiper-wrapper .swiper-slide .rank {
    font-size: 2.875rem;
    line-height: 160%;
    font-weight: 700;
    bottom: -0.25rem;
  }
  .live-lists .live-lists__slider .slider-horizontal .swiper-wrapper .swiper-slide .title {
    font-size: 0.75rem;
    line-height: 150%;
    font-weight: 600;
    margin-left: 2.875rem;
  }
  .live-lists .live-lists__slider .slider-horizontal .swiper-wrapper .swiper-slide .info {
    font-size: 0.75rem;
    line-height: 160%;
    font-weight: 400;
    margin-left: 2.875rem;
  }
  .live-lists .live-lists__slider .slider-horizontal .swiper-wrapper .swiper-slide .sub-info {
    font-size: 0.75rem;
    line-height: 160%;
    font-weight: 400;
    margin-left: 2.875rem;
  }
  .live-lists .live-lists__slider:hover .swiper-button-prev,
  .live-lists .live-lists__slider:hover .swiper-button-next {
    display: block;
    position: absolute;
    z-index: 10;
    top: 1rem;
    width: 2.5rem;
  }
  .live-lists .live-lists__slider:hover .swiper-button-prev {
    left: -2.5rem;
    background: url("/assets/icon_slide_left.svg"), radial-gradient(106.88% 50.3% at -6.88% 50%, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.6) 53.21%, rgba(0, 0, 0, 0) 100%);
    background-repeat: no-repeat;
    background-position: center center;
  }
  .live-lists .live-lists__slider:hover .swiper-button-next {
    right: -2.5rem;
    background: url("/assets/icon_slide_right.svg"), radial-gradient(106.25% 50% at 106.25% 50%, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.6) 52.6%, rgba(0, 0, 0, 0) 100%);
    background-repeat: no-repeat;
    background-position: center center;
  }
  .live-lists .live-lists__slider:hover .swiper-button-disabled {
    display: none;
  }
}
@media (min-width: 1920px) {
  .live-lists {
    padding: 0 4.375rem 2.25rem 4.375rem;
    gap: 1rem;
  }
  .live-lists h3 {
    font-size: 1.78rem;
    line-height: 140%;
    font-weight: 700;
  }
  .live-lists .live-lists__slider .slider-horizontal .swiper-wrapper .swiper-slide a {
    width: calc(100% - 1rem);
  }
  .live-lists .live-lists__slider .slider-horizontal .swiper-wrapper .swiper-slide a img {
    margin-bottom: 0.5rem;
  }
  .live-lists .live-lists__slider .slider-horizontal .swiper-wrapper .swiper-slide .rank {
    font-size: 4.375rem;
    line-height: 160%;
    font-weight: 700;
    bottom: -0.25rem;
  }
  .live-lists .live-lists__slider .slider-horizontal .swiper-wrapper .swiper-slide .title {
    font-size: 1.33rem;
    line-height: 150%;
    font-weight: 600;
    margin-left: 4.375rem;
  }
  .live-lists .live-lists__slider .slider-horizontal .swiper-wrapper .swiper-slide .info {
    font-size: 1rem;
    line-height: 160%;
    font-weight: 400;
    margin-left: 4.375rem;
  }
  .live-lists .live-lists__slider .slider-horizontal .swiper-wrapper .swiper-slide .sub-info {
    font-size: 1rem;
    line-height: 160%;
    font-weight: 400;
    margin-left: 4.375rem;
  }
  .live-lists .live-lists__slider:hover .swiper-button-prev,
  .live-lists .live-lists__slider:hover .swiper-button-next {
    display: block;
    position: absolute;
    z-index: 10;
    top: 1rem;
    width: 2.5rem;
  }
  .live-lists .live-lists__slider:hover .swiper-button-prev {
    left: -4.375rem;
    background: url("/assets/icon_slide_left.svg"), radial-gradient(106.88% 50.3% at -6.88% 50%, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.6) 53.21%, rgba(0, 0, 0, 0) 100%);
    background-repeat: no-repeat;
    background-position: center center;
  }
  .live-lists .live-lists__slider:hover .swiper-button-next {
    right: -4.375rem;
    background: url("/assets/icon_slide_right.svg"), radial-gradient(106.25% 50% at 106.25% 50%, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.6) 52.6%, rgba(0, 0, 0, 0) 100%);
    background-repeat: no-repeat;
    background-position: center center;
  }
  .live-lists .live-lists__slider:hover .swiper-button-disabled {
    display: none;
  }
}

.only-lists {
  display: flex;
  flex-flow: column nowrap;
  padding: 0 0.5rem 1rem 0.5rem;
  gap: 0.5rem;
  min-width: 320px;
  color: rgb(255, 255, 255);
  overflow: hidden;
}
.only-lists h3 {
  font-size: 0.75rem;
  line-height: 150%;
  font-weight: 600;
}
.only-lists .only-lists__slider .swiper {
  width: 100%;
  height: 100%;
  overflow: visible;
}
.only-lists .only-lists__slider .slider-only .swiper-wrapper .swiper-slide {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
}
.only-lists .only-lists__slider .slider-only .swiper-wrapper .swiper-slide a {
  width: calc(100% - 0.5rem);
  cursor: pointer;
  transition: all 0.5s;
  position: relative;
}
.only-lists .only-lists__slider .slider-only .swiper-wrapper .swiper-slide a:link, .only-lists .only-lists__slider .slider-only .swiper-wrapper .swiper-slide a:visited, .only-lists .only-lists__slider .slider-only .swiper-wrapper .swiper-slide a:active {
  color: rgb(196, 196, 196);
  text-decoration: none;
}
.only-lists .only-lists__slider .slider-only .swiper-wrapper .swiper-slide a:hover {
  transform: translateY(-1.5%);
}
.only-lists .only-lists__slider .slider-only .swiper-wrapper .swiper-slide a img {
  display: block;
  width: 100%;
  border-radius: 0.25rem;
}
.only-lists .only-lists__slider .slider-only .swiper-wrapper .swiper-slide .title {
  display: none;
}
.only-lists .only-lists__slider .slider-only .swiper-pagination {
  display: none;
}
.only-lists .only-lists__slider .slider-only .swiper-button-prev,
.only-lists .only-lists__slider .slider-only .swiper-button-next {
  position: absolute;
  z-index: 10;
  top: 0;
  background-color: black;
  height: 100%;
  color: transparent;
}
.only-lists .only-lists__slider .slider-only .swiper-button-prev {
  left: -0.5rem;
}
.only-lists .only-lists__slider .slider-only .swiper-button-next {
  right: -0.5rem;
}
.only-lists .only-lists__slider .slider-only .swiper-button-disabled,
.only-lists .only-lists__slider .slider-only .swiper-button-prev,
.only-lists .only-lists__slider .slider-only .swiper-button-next {
  display: none;
}
.only-lists .only-lists__slider .slider-only .swiper-button-disabled::after,
.only-lists .only-lists__slider .slider-only .swiper-button-prev::after,
.only-lists .only-lists__slider .slider-only .swiper-button-next::after {
  display: none;
}
@media (min-width: 768px) and (max-width: 1919px) {
  .only-lists {
    padding: 0 2.5rem 1.75rem 2.5rem;
    gap: 0.5rem;
  }
  .only-lists h3 {
    font-size: 1rem;
    line-height: 140%;
    font-weight: 700;
  }
  .only-lists .only-lists__slider .slider-only .swiper-wrapper .swiper-slide a {
    width: calc(100% - 0.5rem);
  }
  .only-lists .only-lists__slider .slider-only .swiper-wrapper .swiper-slide a img {
    margin-bottom: 0.25rem;
  }
  .only-lists .only-lists__slider:hover .swiper-button-prev,
  .only-lists .only-lists__slider:hover .swiper-button-next {
    display: block;
    position: absolute;
    z-index: 10;
    top: 1rem;
    width: 2.5rem;
  }
  .only-lists .only-lists__slider:hover .swiper-button-prev {
    left: -2.5rem;
    background: url("/assets/icon_slide_left.svg"), radial-gradient(106.88% 50.3% at -6.88% 50%, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.6) 53.21%, rgba(0, 0, 0, 0) 100%);
    background-repeat: no-repeat;
    background-position: center center;
  }
  .only-lists .only-lists__slider:hover .swiper-button-next {
    right: -2.5rem;
    background: url("/assets/icon_slide_right.svg"), radial-gradient(106.25% 50% at 106.25% 50%, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.6) 52.6%, rgba(0, 0, 0, 0) 100%);
    background-repeat: no-repeat;
    background-position: center center;
  }
  .only-lists .only-lists__slider:hover .swiper-button-disabled {
    display: none;
  }
}
@media (min-width: 1920px) {
  .only-lists {
    padding: 0 4.375rem 2.25rem 4.375rem;
    gap: 1rem;
  }
  .only-lists h3 {
    font-size: 1.78rem;
    line-height: 140%;
    font-weight: 700;
  }
  .only-lists .only-lists__slider .slider-only .swiper-wrapper .swiper-slide a {
    width: calc(100% - 1rem);
  }
  .only-lists .only-lists__slider .slider-only .swiper-wrapper .swiper-slide a img {
    margin-bottom: 0.5rem;
  }
  .only-lists .only-lists__slider:hover .swiper-button-prev,
  .only-lists .only-lists__slider:hover .swiper-button-next {
    display: block;
    position: absolute;
    z-index: 10;
    top: 1rem;
    width: 2.5rem;
  }
  .only-lists .only-lists__slider:hover .swiper-button-prev {
    left: -4.375rem;
    background: url("/assets/icon_slide_left.svg"), radial-gradient(106.88% 50.3% at -6.88% 50%, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.6) 53.21%, rgba(0, 0, 0, 0) 100%);
    background-repeat: no-repeat;
    background-position: center center;
  }
  .only-lists .only-lists__slider:hover .swiper-button-next {
    right: -4.375rem;
    background: url("/assets/icon_slide_right.svg"), radial-gradient(106.25% 50% at 106.25% 50%, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.6) 52.6%, rgba(0, 0, 0, 0) 100%);
    background-repeat: no-repeat;
    background-position: center center;
  }
  .only-lists .only-lists__slider:hover .swiper-button-disabled {
    display: none;
  }
}

body {
  background-color: rgb(107, 107, 107);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0);
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  border-width: 0;
}

.header {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  z-index: 9999;
}
.header__logo {
  background-image: url("/assets/header/TAING_logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-width: 2.875rem;
  min-height: 0.9375rem;
  margin-right: 1.75rem;
}
.header__nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.header__nav__program {
  display: none;
}
.header__nav__program__item {
  align-items: center;
  line-height: 1.5;
}
.header__nav__program__item a {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  text-decoration: none;
  color: rgb(196, 196, 196);
  font-size: 0.75rem;
}
.header__nav__program__item a:hover {
  color: rgb(255, 255, 255);
}
.header__nav__program__item--live__img {
  width: 1.25rem;
  inline-size: 1.25rem;
  height: 1.25rem;
  block-size: 1.25rem;
  background-image: url("/assets/header/live_default.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: 0.25rem;
}
.header__nav__program__item--live__img:hover {
  background-image: url("/assets/header/live_hover.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.header__nav__program__item--paramount__img {
  width: 4.0625rem;
  inline-size: 4.0625rem;
  height: 1.25rem;
  block-size: 1.25rem;
  background-image: url("/assets/header/paramount_default.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.header__nav__program__item--paramount__img:hover {
  background-image: url("/assets/header/paramount_hover.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.header__aside {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1rem;
  margin-left: auto;
}
.header__aside__button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}
.header__aside__button--search {
  width: 1.125rem;
  inline-size: 1.125rem;
  height: 1.125rem;
  block-size: 1.125rem;
  background-image: url("/assets/header/search_default.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.header__aside__button--search:hover {
  background-image: url("/assets/header/search_hover.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}
.header__aside__button--profile {
  width: 1.125rem;
  inline-size: 1.125rem;
  height: 1.125rem;
  block-size: 1.125rem;
  background-image: url("/assets/header/mobile_profile.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

@media (min-width: 768px) and (max-width: 1919px) {
  .header {
    padding: 1rem 2.5rem;
    font-size: 1.3125rem;
  }
  .header__logo {
    min-width: 4.8125rem;
    min-height: 1.5rem;
    margin-right: 1.75rem;
  }
  .header__nav__program {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1.75rem;
    justify-content: left;
    align-items: center;
  }
  .header__aside {
    gap: 1.5rem;
  }
  .header__aside__button--search {
    width: 1.5rem;
    inline-size: 1.5rem;
    height: 1.5rem;
    block-size: 1.5rem;
  }
  .header__aside__button--profile {
    width: 1.5rem;
    inline-size: 1.5rem;
    height: 1.5rem;
    block-size: 1.5rem;
    background-image: url("/assets/header/tablet_profile.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media (min-width: 1920px) {
  .header {
    padding: 1.8125rem 4.375rem;
  }
  .header__logo {
    min-width: 8.25rem;
    min-height: 2.625rem;
    margin-right: 3.25rem;
  }
  .header__nav__program {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 3.25rem;
  }
  .header__nav__program__item a {
    font-size: 1.3125rem;
  }
  .header__nav__program__item--live__img {
    width: 2.125rem;
    inline-size: 2.125rem;
    height: 2.125rem;
    block-size: 2.125rem;
    margin-right: 0.625rem;
  }
  .header__nav__program__item--paramount__img {
    width: 6.9056rem;
    inline-size: 6.9056rem;
    height: 1.5938rem;
    block-size: 1.5938rem;
  }
  .header__aside {
    gap: 3.25rem;
  }
  .header__aside__button--search {
    width: 2.5rem;
    inline-size: 2.5rem;
    height: 2.5rem;
    block-size: 2.5rem;
  }
  .header__aside__button--profile {
    width: 2.5rem;
    inline-size: 2.5rem;
    height: 2.5rem;
    block-size: 2.5rem;
  }
}
