@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.2 | 20191019
   License: none (public domain)
*/
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu,
ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Color styles */
/* Text-size styles */
/* Effect styles */
/* screen size */
/* for personal use*/
/* 하단에 채워주세용 */
body {
  font-family: "Pretendard Variable", Pretendard, sans-serif;
  font-size: 16px;
}

html,
body {
  position: relative;
  height: 100%;
  margin-top: 50px;
  min-width: 320px;
  background-color: black;
}

.must-contents-lists {
  display: flex;
  flex-flow: column nowrap;
  padding: 0 0.5rem 1rem 0.5rem;
  gap: 0.5rem;
  min-width: 320px;
  color: rgb(255, 255, 255);
  overflow: hidden;
}

.must-contents-lists h3 {
  font-size: 0.75rem;
  line-height: 150%;
  font-weight: 600;
}

.swiper {
  width: 100%;
  height: 100%;
  overflow: visible;
}

.swiper-slide {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
}
.swiper-slide a {
  width: calc(100% - 0.5rem);
  cursor: pointer;
  transition: all 0.5s;
}
.swiper-slide a:link, .swiper-slide a:visited, .swiper-slide a:active {
  color: #c4c4c4;
  text-decoration: none;
}
.swiper-slide a:hover {
  transform: translateY(-3%);
}
.swiper-slide a img {
  display: block;
  width: 100%;
  border-radius: 0.25rem;
}
.swiper-slide p {
  display: none;
}

.slider-vertical .swiper-pagination {
  display: none;
}
.slider-vertical .swiper-button-prev,
.slider-vertical .swiper-button-next {
  position: absolute;
  z-index: 10;
  top: 0;
  background-color: black;
  height: 100%;
  color: transparent;
}
.slider-vertical .swiper-button-prev {
  left: -0.5rem;
}
.slider-vertical .swiper-button-next {
  right: -0.5rem;
}
.slider-vertical .swiper-button-disabled,
.slider-vertical .swiper-button-prev,
.slider-vertical .swiper-button-next {
  display: none;
}

@media (min-width: 768px) and (max-width: 1919px) {
  .must-contents-lists {
    padding: 0 2.5rem 1.75rem 2.5rem;
    gap: 0.5rem;
  }
  .must-contents-lists h3 {
    font-size: 1rem;
    line-height: 140%;
    font-weight: 700;
  }
  .swiper-slide a {
    width: calc(100% - 0.5rem);
  }
  .swiper-slide a img {
    margin-bottom: 0.25rem;
  }
  .swiper-slide p {
    display: block;
    font-size: 0.75rem;
    line-height: 160%;
    font-weight: 400;
  }
  .must-contents-lists:hover .swiper-button-prev,
  .must-contents-lists:hover .swiper-button-next {
    display: block;
    position: absolute;
    z-index: 10;
    top: 1rem;
    width: 2.5rem;
  }
  .must-contents-lists:hover .swiper-button-prev {
    left: -2.5rem;
    background: url("./../../assets/icon_slide_left.svg"), radial-gradient(106.88% 50.3% at -6.88% 50%, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.6) 53.21%, rgba(0, 0, 0, 0) 100%);
    background-repeat: no-repeat;
    background-position: center center;
  }
  .must-contents-lists:hover .swiper-button-next {
    right: -2.5rem;
    background: url("./../../assets/icon_slide_right.svg"), radial-gradient(106.25% 50% at 106.25% 50%, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.6) 52.6%, rgba(0, 0, 0, 0) 100%);
    background-repeat: no-repeat;
    background-position: center center;
  }
  .must-contents-lists:hover .swiper-button-disabled {
    display: none;
  }
}
@media (min-width: 1920px) {
  .must-contents-lists {
    padding: 0 4.375rem 2.25rem 4.375rem;
    gap: 1rem;
  }
  .must-contents-lists h3 {
    font-size: 1.78rem;
    line-height: 140%;
    font-weight: 700;
  }
  .swiper-slide a {
    width: calc(100% - 1rem);
  }
  .swiper-slide a img {
    margin-bottom: 0.5rem;
  }
  .swiper-slide p {
    display: block;
    font-size: 1.33rem;
    line-height: 150%;
    font-weight: 400;
  }
  .must-contents-lists:hover .swiper-button-prev,
  .must-contents-lists:hover .swiper-button-next {
    display: block;
    position: absolute;
    z-index: 10;
    top: 1rem;
    width: 2.5rem;
  }
  .must-contents-lists:hover .swiper-button-prev {
    left: -4.375rem;
    background: url("./../../assets/icon_slide_left.svg"), radial-gradient(106.88% 50.3% at -6.88% 50%, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.6) 53.21%, rgba(0, 0, 0, 0) 100%);
    background-repeat: no-repeat;
    background-position: center center;
  }
  .must-contents-lists:hover .swiper-button-next {
    right: -4.375rem;
    background: url("./../../assets/icon_slide_right.svg"), radial-gradient(106.25% 50% at 106.25% 50%, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.6) 52.6%, rgba(0, 0, 0, 0) 100%);
    background-repeat: no-repeat;
    background-position: center center;
  }
  .must-contents-lists:hover .swiper-button-disabled {
    display: none;
  }
}
